
.messaging-icon {
    height: 16px;
    width: 16px;
    background-image: url(/rsrcs/img/message-list.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    cursor:pointer;
    box-shadow:1px 1px 1px -1px #CCCCCC;
    border-radius:2px;
    -moz-border-radius:2px;
    margin-right:2px;
}

.messaging-icon:active {
    box-shadow: inset 1px 1px 1px -1px #CCCCCC;
}

#msg-toolbar {
    position: relative;
    text-align: right;
}

#thread-selector {
    position: absolute;
    left: 0px;
    top: 7px;
}

#threads-wrapper {
    padding: 0;
    min-height: 320px;
}
.peoplemenu {
    margin-top: 4px;
}

.peoplemenu li {
    margin-bottom:1px;
}

.conversation-layout-container {
    width: 100%;
    display: table;
}

.conversation-row {
    display: table-row;
}

.conversation-row-cell {
    display: table-cell;
    vertical-align: middle;
    border-collapse: collapse;
    border-bottom: 1px dotted #DDD;
    padding: 4px 0;
}

.conversation-row-select {
    width: 22px;
}
.conversation-row-sender {
    width: 48px;
}
.conversation-row-actions {
    width: 75px;
    text-align: right;
    padding-right:3px;
}
.conversation-row-info {
    padding-left: 8px;
    text-decoration: none !important;
    color: #555555 !important;
    line-height: 1.6em;
}

.conversation-row-time {
    font-size: 11px;
    color: #999999;
    padding-left: 4px;
}
.conversation-row-time abbr {
    border: medium none;
}

.conversation-row-subject-wrapper {
    overflow: hidden;
    white-space: nowrap;
    max-width:645px;
}
.conversation-row-snippet {
    color: #999999;
    white-space: nowrap;
    overflow: hidden;
}
.conversation-row-subject {
    font-weight: bold;
    color: #3366CC;
}

.row-unread {
    background-color: #E8EEFA;
    color: #3366CC;
}



/*
 * Conversation Display
 */

.time-label {
   font-size: 11px;
}

.back-link {
  position: absolute;
  left: 2px;
  top: 10px;
}

.conversation-headline {
   padding:4px 10px
}

.conversation-headline-subject {
   display:inline;
   word-wrap: break-word;
}

.conversation-message-headers {
   margin-bottom: 4px;
   padding: 4px 0;
   position:relative;
}

.conversation-message-headers-time {
   float:right;
   display:inline-block;
   position:absolute;
   right:0;
   top:4px;
   z-index:1000;
   padding-left:3px;
}

.conversation-message-headers-sender {
   display:inline-block;
   font-weight:bold;
}

.conversation-message-headers-snippet-show {
    visibility: visible !important;
}

.conversation-message-headers-snippet {
   display: inline-block;
   width: 380px;
   overflow: hidden;
   white-space: nowrap;
   margin-left: 8px;
   color: #777777;
   font-size: 11px;
   visibility: hidden;
}

.conversation-message-message {
   margin: 0;
   word-wrap: break-word;
}

.thread-selector-wrapper {
   display: inline-block;
   margin-left: 2px;
}

.thread-selector {
   display: table-cell;
   vertical-align: top;
}

.messaging-archive-icon {
    background-image: url("/rsrcs/img/folder-pane.png");
    background-position:0px -192px;
}

.messaging-unread-icon {
    background-position: 0px -16px;
}

.messaging-read-icon {
    background-position: 0px 0px;
}

.messaging-delete-icon {
    background-image: url("/rsrcs/img/sprite.png");
    background-position: -19px -47px;
}
.messaging-delete-icon:hover, .messaging-delete-icon:active {
    background-position: -19px -67px;
}

.nopad {
    padding: 0;
}

.conversation-composer-field {
    margin-bottom: 5px;
}

.conversation-composer-field-body {
    min-height: 80px;
}

.conversation-composer-recipients {
    float: left;
}

.conversation-composer-recipient-label {
    padding: 0 4px;
}

.conversation-composer-recipient-remove {
    padding: 0 2px;
    font-size: 9px;
}

.conversation-composer-field-recipient {
    width: auto !important;
}

.conversation-composer-actions {
    text-align: right;
    padding: 4px 0;
    float: right;
}

.conversation-reply-wrapper {
    margin-left: 60px;
}

#composer #file-share {
    top: 0px;
}

.conversation-reply-wrapper #file-share {
    top: 0px;
}

.conversation-message-container {
    padding-top: 0px;
    min-height: 32px;
    padding-bottom: 0px;
}

.conversation-reply-wrapper {
    margin-left: 60px;
}

.conversation-reply {
    min-height: 60px;
}

.conversation-reply-actions {
    text-align: right;
    padding: 4px 0;
    float: right;
}

.conversation-people-add-wrapper {
    margin-top: 4px;
    font-size: 11px;
    width: 185px;
}

.conversation-people-avatar {
    display: table-cell
}

.conversation-people-profile {
    display: table-cell;
    vertical-align: middle;
    padding-left: 5px;
    width: 150px;
}

.conversation-people-remove {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    vertical-align: middle;
}

.conversation-people-no-remove {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
