

@media screen and (min-width: 1281px) {
    .contents {
        width: 1130px;
    }

    #center {
        width: 1130px;
    }
    .has-left.has-right #center { width: 640px !important; }
    .has-left #center { width: 950px !important; }
    .has-right #center { width: 820px !important; }

    .has-right #right { width: 300px !important; }

    #group-share-block {
        width: 640px;
    }
}


@media screen and (min-width: 1441px) {
    .contents {
        width: 1280px;
    }

    #center {
        width: 1280px;
    }
    .has-left.has-right #center { width: 740px !important; }
    .has-left #center { width: 1100px !important; }
    .has-right #center { width: 920px !important; }

    .has-right #right { width: 350px !important; }

    #group-share-block {
        width: 740px;
    }
}


