
body, html {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  background-color: white;
  margin: 0px !important;
  padding: 0px !important;
  overflow: auto;
  height: 100%;
  color: #333;
  font-size: 12px;
}

td, label {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 90%;
}

a:link, a:visited {
  color: #3366CC;
  text-decoration: none;
}

#wrapper {
  width: 600px;
  margin: 10px auto;
}
#header {
  padding: 15px;
}
#main-wrapper {
  border: 1px solid #3D85C6;
  border-radius: 4px;
  clear: both;
}
#footer-wrapper {
  color: #AAA;
  text-align: right;
  font-size: 11px;
}
#footer-wrapper:hover {
  color: #333;
}

#steps {
  background: #C385C6 url(/rsrcs/img/about-banner-bg.png) repeat-x center center;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid #3D85C6;
}
#views-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}
#views-list > li {
  float: left;
  display: block;
  padding: 15px 20px;
  background: transparent url(/rsrcs/img/wiz-title-bg.png) left middle no-repeat;
  color: #ACF;
  font-size: 20px;
}
#views-list > li.last {
  background: transparent;
}
#views-list > li.selected {
  background: transparent url(/rsrcs/img/wiz-title-selected-bg.png) left middle no-repeat;
  color: white;
}

#center {
  padding: 20px;
}


/*
 * Signup and signin forms
 */

.styledform {
  width: 100%;
  display: table;
}

.styledform ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 15px;
}

.styledform li {
  padding: 5px 0px;
  min-height: 26px;
}

.styledform label {
  float: left;
  font-size: 12px;
  width: 15em;
  display: inline-block;
  line-height: 1.5em;
  padding: 2px;
  margin-right: 10px;
  text-align: right;
}

.styledform input[type=text],
.styledform input[type=password]{
  width:20em;
  font-size:12px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #CCC #999 #999 #CCC;
  box-shadow: 1px 1px 0 #CCC;
  padding: 2px;
}

.styledform-buttons {
  border-top: 1px solid #C3D9FF;
  padding-top: 4px;
  margin: 20px 0;
  text-align: right;
}
.styledform-buttons .button {
  font-size: 14px;
  font-weight: bold;
  padding: 3px 8px;
}

#header-links {
  display: inline-block;
  list-style-type: none;
  float: right;
  margin: 10px 0;
  padding: 0;
  font-size: 14px;
}
#header-links li {
  float: left;
  display: block;
  margin: 0 5px;
}
