
body, html {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  background-color: white;
  margin: 0px !important;
  padding: 0px !important;
  overflow: auto;
  height: 100%;
}

td {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 90%;
}

a:link, a:visited {
  color: #3366CC;
  text-decoration: none;
}

#wrapper {
  width: 100%;
  margin: 10px auto;
}

#inner {
  width: 750px;
  margin: 10px auto;
}

#header {
  padding: 15px;
  width: 750px;
  margin: 20px auto 0;
}

.title {
  font-size: 110%;
  padding-bottom: 15px;
  font-weight: bold;
}

#signin-table, #signup-table {
  width: 320px;
}

#signin, #signup {
  padding: 20px;
  min-height: 180px;
  border: 1px solid #3D85C6;
  background: #E8EEFA;
  border-radius: 3px;
  box-shadow: 4px 3px 8px #CCC;
}
#signin {
  float: left;
}
#signup {
  float: right;
}

#signin-help, #signup-help, #signup-info {
  padding-top: 10px;
  font-size: 12px;
  text-align: center;
}

#userlabel, #passlabel, #rememberfield, #emaillabel {
  text-align: right;
}
#userfield, #passfield, #rememberlabel, #emailfield {
  width: 225px;
}
#username, #password, #user1 {
  width: 225px;
}
#signin-submitbox, #signup-submitbox {
  text-align: right;
}

#clear {
  clear: both;
}

#footer {
    clear: both;
    color: #BBBBBB;
    margin-left: 180px;
    text-align: right;
    width: 575px;
}

.signin-error {
  color: #C60000;
  text-align: center;
}
