
html>body {
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color: #333;
    font-size: 11px;
}
textarea, input {
    font-family: sans-serif;
}


.contents {
    width: 980px;
    margin: 0 auto;
    background-color: transparent;
}


.h-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.h-links > li {
    float: left;
    display: block;
}
.h-links a {
    display: inline-block;
}


.v-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.v-links li {
    line-height: 20px;
}
.v-links a {
    display: block;
}


a:link, a:visited {
    color: #3366CC;
    text-decoration: none;
}
a.ajax {
    color: #3366CC;
    cursor: pointer;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
.invisible:link, .invisible:visited {
    color: inherit;
}
.invisible:hover, .invisible:active, .invisible:focus {
    color: #3366CC;
    text-decoration: none;
}


.middle {
    vertical-align: middle;
}
.clear {
    clear: both;
    display: block;
}
.hidden {
    display: none !important;
}


/*
 * Busy Indication
 */

.busy-indicator {
    min-height: 16px;
    min-width: 24px;
}
.busy-indicator.busy {
    background-image: url(/rsrcs/img/loading.gif);
    background-position: right center;
    background-repeat: no-repeat;
}


/*
 * Generic Icon Classes
 */

.icon {
    height: 16px;
    width: 16px;
    background-image: url(/rsrcs/img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.small-icon {
    height: 10px;
    width: 13px;
    background-image: url(/rsrcs/img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.admin-icon {
    height: 16px;
    width: 16px;
    background-image: url(/rsrcs/img/admin_sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}


/*
 * Styled text inputs for inline usage.
 * Note: Fully styled forms use different style for inputs.
 */

.input-wrap {
    background-color: white;
    border: 1px solid #C3D9FF;
}
.input-wrap input, .input-wrap textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    border: none;
    background-color: transparent;
    line-height: 15px;
    font-size: 12px;
    outline: 0px;
    margin: 0px;
}
.input-wrap input:-moz-ui-invalid:not(output),
.input-wrap textarea:-moz-ui-invalid:not(output) {
    box-shadow: none !important;
}

/* Extra styles for sharebar and comment input */
#sharebar textarea, .comment-input {
    height: 23px;
}


/*
 * Page Layout - Header.
 */

#topbar {
    height: 35px;
    padding: 2px 0 0 0;
}
.avatar {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border: none !important;
}
#avatar {
    height: 48px;
    width: 48px;
    border: 1px solid white;
    background: transparent;
    float: left;
    margin: 4px 0;
}
#sitelogo {
    height: 35px;
    width: 300px;
    margin-left: 10px;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
#sitename {
    padding-top: 6px;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #3D85C6;
}
#search-container {
    padding: 1px;
    margin: 6px 10px 0;
    border: 1px solid #CCC;
    border-radius: 2px;
    -moz-border-radius: 2px;
    float: right;
}
#searchbox, #searchbutton {
    margin: 0;
    outline: 0px;
    border: 1px solid transparent;
    background-color: transparent;
}
#searchbutton {
    color: #999;
    border-left: 1px solid #DDD;
}
#searchbox {
    width: 350px;
    font-size:12px;
}
/* Sometimes error pages are getting rendered in quirks mode.
   In quirks more browsers add 1em margin-bottom to the forms */
#search {
    margin-bottom: 0 !important;
}


/*
 * Page Layout - MenuBar
 */

#menubar {
    background-color: #3d85c6;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    color: white;
}
#name {
    max-width: 500px;
    overflow: hidden;
    float: left;
    padding: 0 10px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#menubar-links-wrapper {
    float: right;
}
#menubar a {
    padding: 0 10px;
    height: 25px;
    color: white;
    text-decoration: none;
}
#name:hover, #name:focus, #name:active,
#menubar-links a:hover, #menubar-links a:active, #menubar-links a:focus {
    background-color: #4d95d6;
}



/*
 * Page Layout - Content
 * Controls single, two or three columns
 */

#left {
    float: left;
    width: 0px;
    word-wrap: break-word;
    min-height: 250px;
}
.has-left #left {width: 180px !important }

.has-left #center-right {
    margin-left: 180px;
}
#center-right {
    display: block;
}

#center {
    min-height: 250px;
    float: left;
    border-style: solid;
    border-color: #C3D9FF;
    border-width: 0 1px 1px;
    width: 980px;
    margin-bottom: 20px;
}
.has-left.has-right #center { width: 575px !important; }
.has-left #center, .has-right #center { width: 800px !important; }

#right {
    float: right;
    word-wrap: break-word;
    min-height: 250px;
    width: 0px;
}
.has-right #right { width: 220px !important }



/*
 * Main navigation menu
 */

.sidemenu {
    padding: 2em 0 0;
}

.sidemenu a {
    padding: 1px 2px 1px 8px;
    margin-left: -3px;
    line-height: 20px;
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
}

.sidemenu a:hover, .sidemenu a:active, .sidemenu a:focus {
    background-color: #E8EEFA;
}

.sidemenu-selected {
    background-color: #C3D9FF !important;
    font-weight:bold;
}

.sidemenu-icon {
    position: absolute;
    vertical-align: middle;
    width: 21px;
    top: 2px;
}
.sidemenu-text {
    padding-left: 21px;
}

.new-count {
    position: absolute;
    background-color: #b40000;
    color: white;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    box-shadow: 0pt 0pt 2px #888;
    font-weight: bold;
    right: 10px;
    font-size: 9px;
    line-height: 14px;
    padding: 0 4px;
    top: 4px;
    font-family: monospace;
    font-weight: bold;
}
.view-options-count {
    position: absolute;
    background-color: #b40000;
    color: white;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    box-shadow: 0pt 0pt 2px #888;
    font-weight: bold;
    bottom: 75%;
    right: -6px;
    font-size: 9px;
    line-height: 14px;
    padding: 0 4px;
    font-family: monospace;
    font-weight: bold;
}

/*
 * Sidemenu icons
 */
.feed-icon {
    background-position: 0 -48px;
}
.messages-icon {
    background-position: 0 -64px;
}
.notifications-icon {
    background-position: 0 -80px;
}
.events-icon {
    background-position: 0 -96px;
}
.people-icon {
    background-position: 0 -128px;
}
.groups-icon {
    background-position: 0 -112px;
}
.org-icon {
    background-position: 0 -144px;
}
.feedback-icon {
    background-position: 0 -384px;
}


/*
 * Admin page icons
 */
.add-user-icon {
    background-position: 0 -16px;
}
.block-user-icon {
    background-position: 0 -32px;
}
.update-orgInfo-icon {
    background-position: 0 -64px;
}
.unblock-user-icon {
    background-position: 0 -112px;
}


/*
 * Blocks for the sidebar & Right Bar
 */

.sidebar-title {
    font-weight: bold;
    margin: 0 10px 0 -10px;
    padding: 5px 10px 2px 10px;
    border-bottom: 1px solid #DBDBDB;
}

#right .sidebar-chunk {
    padding: 15px 0 0 15px;
}

#right .v-links a {
    display: block;
}

#invite-people-block form {
    margin-right: 20px;
    text-align: right;
}
#invite-people-block .input-wrap {
    margin: 5px 0;
}

.user-subactions {
    margin: 5px 10px 0 -10px;
    padding: 5px 10px;
    border-top: 1px solid #DBDBDB;
}


/*
 * Content title area
 */

.titlebar {
    margin: 0 0 5px 0;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.subtitle {
    color: gray;
    font-size: 16px;
}

.center-header {
    background-color: #E8EEFA;
    padding: 15px;
    border-bottom: 1px solid #C3D9FF;
}

.center-contents {
    padding: 10px;
    font-size: 12px;
}

.header-form {
    margin-top: 10px;
}
.header-form .header-form-buttons{
    text-align: right;
}



#useravatar {
    height: 128px;
    width: 128px;
    padding: 4px;
    border: 1px solid #C3D9FF;
    background-color: transparent;
    float: right;
}
#profile-summary {
    margin-bottom: -21px;
}
.summary-item {
    color: gray;
    padding: 0 8px 0 0;
    vertical-align: middle;
}

.summary-line {
    padding: 8px 0 0 0;
}

.attach-file-icon {
    background-position: -16px -110px;
}

.summary-icon, .background-icon {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.landline-icon {
    background-image: url(/rsrcs/img/phone-landline.png);
}

.mobile-icon {
    background-image: url(/rsrcs/img/phone-mobile.png);
}

.user-actions {
    /*font-size: 11px;*/
}
.user-actions > .button {
    margin-right: 6px;
    font-size:100%;
}

#profile-content {
    padding: 15px 0 0 20px;
}


/*
 * Simple TabView
 */

.tabs {
    background-color: #E8EEFA;
    border-bottom: 1px solid #C3D9FF;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: -10px -10px 0;
    padding: 0 15px;
}
.tablinks {
}
.tablinks a {
    padding: 0 10px;
    margin: 0 2px;
    height: 20px;
    color: #3D85C6;
    text-decoration: none;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
}
.tablinks a:hover,
.tablinks a:active, .tablinks a:focus {
    border-color: #C3D9FF #C3D9FF transparent;
}
.tablinks .selected {
    margin-bottom: -1px;
    border-color: #C3D9FF #C3D9FF transparent !important;
    background-color: white;
}


/*
 * Main Share Block
 */

#share-block {
    border-top: 1px solid #C3D9FF;
    padding-top: 5px;
}
#sharebar-links li {
    padding: 5px 5px 5px 0;
    font-weight: bold;
    color: #888;
}
#sharebar-links a {
    display: inline-block;
    padding: 5px 0px 5px 5px;
    margin: -5px 10px -5px 0;
    color: #3366CC;
    position: relative;
}
#sharebar-links a:hover,
#sharebar-links a:active, #sharebar-links a:focus {
    color: #4d95d6;
    text-decoration: none;
}
a:hover > .sharebar-text,
a:active > .sharebar-text, a:focus > .sharebar-text {
    text-decoration: underline;
}
.selected-publisher {
    color: black !important;
}
.sharebar-icon {
    position: absolute;
    vertical-align: middle;
    top: 2px;
}
.sharebar-text {
    padding-left: 20px;
}

.poll-icon {
    background-position: 0px -32px;
}
.event-icon {
    background-position: 0px -16px;
}
.question-icon {
    background-position: 0 -352px;
}
.link-icon {
    background-position: 0 -368px;
}
.tick-icon {
    background-position: 0 -320px;
}
.empty-icon {
    background-position: 0 20px;
}

#sharebar .input-wrap {
    margin-bottom: 5px;
}
#sharebar-actions {
    float: right;
}
#sharebar-submit {
    margin: 0 0 0 6px;
}

#sharebar-actions-wrapper {
    float: right;
    display: inline-block;
}


/*
 * ACL
 */

.acl-menu {
    width: 180px;
}
.acl-footer {
    border-top: 1px solid #CCC;
    text-align: right;
    clear: left;
    padding: 2px;
}
.acl-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.acl-title {
    overflow: hidden;
    width: 150px;
    display: inline-block;
}

.acl-item .icon {
    position: absolute;
    background: transparent;
    left: 4px;
}
.acl-item:hover {
    border:none !important;
}
.acl-checked .icon {
    background-position: 0 -320px;
}
.acl-busy-item {
    line-height: 1.5em;
    padding: 0.2em 0.4em;
    background-image: url(/rsrcs/img/loading.gif);
    background-position: -5px center;
    background-repeat: no-repeat;
}

.acl-text-button {
    padding: 3px 0;
    margin: 0 4px;
    background: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: #36C;
}
.acl-button > span {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.acl-label {
    max-width: 120px;
    text-overflow: ellipsis;
}

.menu-item {
    text-align: left;
}

.acltip {
    white-space: normal;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 0.9em;
    opacity: 0.5;
}

.acl-button > .tooltip {
    width: 190px;
}


/*
 * File Attachment
 */

.file-attach-outer {
    position: relative;
    padding-right: 25px;
}
.file-attach-outer.busy .file-attach-button {
    color: gray !important;
}
.file-attach-button {
    padding-left: 0;
}

.file-attach-input {
    position: absolute;
    top: 0;
    right: 25px;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    z-index: 2;
}

.file-attach-wrapper {
    float: left;
    overflow: hidden;
}

.uploaded-filelist {
    margin-bottom: 6px;
}
.uploaded-file {
    padding: 4px 6px;
    border-bottom: 1px solid #C3D9FF;
    min-height: 16px;
    line-height: 16px;
    font-size: 110%;
}
.uploaded-file-meta {
    float: right;
    margin-right: 10px;
    max-width: 80px;
    overflow: hidden;
    opacity: 0.5;
}
.uploaded-file-name {
    max-width: 420px;
    overflow: hidden;
}
.uploaded-file-del {
    height: 16px;
    width: 16px;
    background: transparent url("/rsrcs/img/sprite.png") -19px -47px no-repeat;
    border: 0px none;
    outline: 0px none;
    float: right;
    vertical-align: middle;
}
.uploaded-file-del:hover {
    box-shadow: 0 0 2px #888;
    background-position: -19px -67px;
}

/*
 * Feed
 */

#welcome-message ul {
    padding-left: 20px;
    margin: 5px;
}

.conv-item {
    padding: 10px 0 16px;
    border-top: 1px dotted #CCC;
}
.conv-item:first-child {
    padding-top: 0px;
    border-top: none;
}

.conv-item-created {
    -moz-animation: slidein 1.5s;
    -webkit-animation: slidein 1.5s;
}
@-moz-keyframes slidein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes slidein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.conv-item-bottom {
    clear: both;
}

.conv-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
}

.conv-data {
    padding-left: 60px;
    position:relative;
}

.conv-root:hover > .conv-other-actions {
    display: block;
}

.conv-reason {
    display: block;
    color: #999;
    margin-bottom: 4px;
    word-wrap: break-word;
    padding-right: 16px;
}

.conv-root-render {
    min-height: 50px;
    margin-bottom: 4px;
}

.conv-user-cause {
    font-weight: bold;
}

.conv-comments-more,
.conv-comment,
.conv-likes,
.conv-tags,
.comment-form-wrapper {
    background-color: #F3F3F3;
    border-bottom: 1px solid #E3E3E3;
    margin: 1px 0 0;
    padding: 4px 6px;
}

.conv-tags-input {
    font-size: 11px !important;
    padding: 2px !important;
}

.conv-comment {
    min-height: 32px;
}

.conv-quote {
    border-left: 1px solid #DDD;
    padding: 0 8px;
    margin: 10px 0;
}

.comment-avatar {
    height: 32px;
    width: 32px;
    float: left;
    position: absolute;
}

.comment-meta {
    padding-left: 38px;
}
.comment-container {
    padding: 2px 16px 2px 38px;
    position: relative;
}

.conv-comment:hover .conv-other-actions {
    display: block;
}

.conv-footer {
    color: #999;
    padding: 5px 0 0;
    font-size: 10px;
    clear: both;
}

.comment-meta {
    color: #999;
    font-size: 9px;
    clear: both;
}
.conv-footer abbr, .comment-meta abbr {
    border: none;
}

.comment-text {
    word-wrap:break-word;
}

#next-load-wrapper {
    padding: 10px 20px;
    border: 1px solid #3D85C6;
    background-color: #E8EEFA;
    margin-top: 25px;
}

.no-likes .likes-wrapper,
.no-tags .tags-wrapper {
    display: none;
}
.no-comments.no-likes.no-tags .comment-form-wrapper {
    display: none;
}

.button-link .small-icon {
    margin-bottom: 2px;
}
.small-like {
    background-position: -22px 0;
}
.small-comment {
    background-position: -22px -20px;
}
.button-link:hover .small-like,
.button-link:active .small-like,
.button-link:focus .small-like {
    background-position: -22px -10px;
}
.button-link:hover .small-comment,
.button-link:active .small-comment,
.button-link:focus .small-comment {
    background-position: -22px -30px;
}

.conv-other-actions {
    position: absolute;
    top: 0px;
    right: -2px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-size: 10px;
    background-image: url("/rsrcs/img/sprite.png");
    background-position: -19px -47px;
    background-repeat: no-repeat;
    display: none;
}

.conv-other-actions:hover, .conv-other-actions:active {
    box-shadow: 0 0 2px #888;
    background-position: -19px -67px;
}


/*
 * Generic item display
 */

.item-title {
    position: relative;
    color: #000;
    font-size: 14px;
    word-wrap: break-word;
}
.item-icon {
    position: absolute;
    vertical-align: middle;
}
.has-icon > .item-title-text,
.has-icon.item-contents {
    padding-left: 20px;
    padding-bottom: 8px;
    display: inline-block;
}
.item-subactions {
    clear: both;
    color: #888;
    font-size: 10.5px;
    padding: 8px 0 0;
}


/*
 * Edit profile & Style for a generic form.
 * Note: When using an input inline with text (always visible and subtle)
 *       then consider using a "input-wrap" approach (above)
 */

.styledform {
    width: 100%;
    display: table;
}

.styledform ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 15px;
}

.styledform li {
    padding:5px 0px;
    min-height:26px;
}

.styledform label {
    float:left;
    font-size:11px;
    width:15em;
    display:inline-block;
    line-height:2;
    padding:2px;
    margin-right:10px;
    text-align:right;
}

.styledform input[type=text],
.styledform input[type=email],
.styledform input[type=password],
.styledform select,
.ui-datepicker-title select,
.styledform textarea {
    width: 20em;
    font-size: 12px;
    background-color: white;
    border-width: 1px;
    border-color: #CCC #999 #999 #CCC;
    border-style: solid;
    box-shadow: 1px 1px 0 #CCC;
    -webkit-box-shadow: 1px 1px 0 #CCC;
    -mox-box-shadow: 1px 1px 0 #CCC;
    padding: 3px;
}

.styledform select.single-row {
    width: 20.5em;
}

.styledform .inline-select {
    width:auto !important;
}

.styledform fieldset {
    border: none
}

.styledform legend {
    font-weight: 700;
    margin: 20px 10px 10px;
}

.styledform-buttons {
    border-top: 1px solid #C3D9FF;
    padding-top: 4px;
    margin: 20px 0;
    text-align: right;
}


/*
 * List of users - friends and people in organization
 */

.users-row {
    width: 100%;
    min-height: 50px;
    padding: 10px 0 0;
    margin: 10px 0 0;
    border-top: 1px solid #EEE;
}

.users-row:first-child {
    padding: 0;
    margin: 0;
    border-top: none !important;
}

.users-row-first {
    padding: 0;
    margin: 0;
    border-top: none !important;
}

.users-user {
    float: left;
    width: 48%;
}

.users-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
}

.users-details {
    margin-left: 60px;
}

.user-details-title {
    color: #888;
}

.user-details-actions {
    margin-top: 6px;
}


.group-details-title {
    color: #888;
    float:left;
    display:inline-block;
}

.group-details-desc {
    color: #888;
    display: inline-block;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    max-width: 230px;
    text-overflow: ellipsis;
}

.viewbar {
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #C3D9FF;
}

.paged-container {
    min-height: 300px;
    padding: 10px;
}

.pagingbar {
    margin: 10px 0 5px;
    padding: 10px 0;
    border-top: 1px solid #C3D9FF;
    text-align: right;
}

.pagingbar .button {
    margin-left: 5px;
}

.view-options {
    font-weight: bold;
    color: #888888;
}

.view-options .selected {
    color: black !important;
    border: 1px solid #C3D9FF;
    background-color: #E8EEFA;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 2px 3px;
    margin: 0 5px;
}

.view-options a {
    padding: 2px 3px;
    margin: 0 2px;
    border: 1px solid transparent;
}
.view-options li {
    position: relative;
    border: 1px solid transparent;
    margin: 0 3px;
}
#invite-people > .input-wrap {
    padding-left: 25px;
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.invite-people-entry {
    position: absolute;
    background-position: 0 -304px;
    left: 4px;
}


/*
 * Notifications
 */
.notifications {
    margin: 20px;
}

.snippet {
    font-weight: lighter;
    color: #999;
}



/*
 * Styling for polls
 */

.poll-wrapper {
    height: 20px;
    width: 370px;
    display: inline-block;
}

.poll-bar-wrapper {
    width: 330px;
    display: inline-block;
    border: 1px solid #97BFE1;
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    padding: 1px;
}

.poll-bar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #97BFE1),
        color-stop(0.63, #C3D9FF)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #97BFE1 26%,
        #C3D9FF 63%
    );
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    display: inline-block;
    height: 18px;
    background-color: #97BFE1;
}

.poll-results {
    list-style: none;
    padding: 0;
    margin: 0;
}
.poll-results > li {
    clear: both;
    padding: 5px 0;
}
.poll-percent {
    display: inline-block;
    text-align: right;
    font-size: 10px;
    padding-bottom: 0px;
}
.poll-percent > span {
    height: 20px;
    width: 25px;
    line-height: 20px;
    display: block;
    cursor: pointer;
    text-shadow: 0 1px 1px #888;
}

.poll-options-option {
    display: inline-block;
    float: left;
    position: relative;
    top: 2px;
}

.poll-option-text {
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    max-width: 325px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
    line-height: 18px;
    text-shadow: 0 1px 1px #FFFFFF;
}

#share-poll-options > .input-wrap {
    padding-left: 25px;
    position: relative;
}
.poll-option {
    position: absolute;
    background-position: 0 -304px;
    left: 4px;
}


/*
 * Styling for tags
 */

.tag {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #FFF #C3D9FF #C3D9FF;
    background-color: #E8EEFA;
    padding: 1px 6px 1px 4px;
    margin: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.edit-tags-button, .done-tags-button {
    float: right;
    font-size: 10px !important;
    line-height: 16px;
    vertical-align: middle;
}

.tags-icon,
.edit-tags-icon {
    background-position: 0 -240px;
    padding: 0 2px;
}
.done-tags-icon {
    padding: 0 2px;
    background-position: -16px -90px;
}

.delete-tags,
.done-tags-button,
.editing-tags .edit-tags-button,
.edit-tags-form {
    display: none;
}
.edit-tag-button,
.editing-tags .delete-tags,
.editing-tags .done-tags-button,
.editing-tags .edit-tags-form {
    display: inline-block;
}

.edit-tags-form {
    margin-top: 4px !important;
}

.done-tags-button {
    margin-top: 4px !important;
}

.link-details {
    display: table-cell;
}
.link-summary {
    font-size: 12px;
    font-family: inherit;
    margin-top: 4px;
}
.link-title {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}
.link-image {
    float: left;
    margin-right: 10px;
    max-height: 100px;
    max-width: 100px;
    border: 1px solid #EEE;
    padding: 4px;
}
.link-url {
    color: gray;
    font-size: 11px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}
.embed-wrapper {
    position: relative;
    float: left;
    cursor: pointer;
}
.embed-overlay {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*
 * Feedback dialog
 */

#feedback-center {
    padding: 10px;
}
#feedback-mood-wrapper {
    text-align: center;
}

.feedback-mood {
    width: 33.3%;
    float: left;
    padding: 6px 0;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
.feedback-mood:focus, .feedback-mood:hover {
    background-color: #F0F0F0;
}
.feedback-mood-selected {
    background-color: #E8EEFA !important;
    box-shadow: inset 2px 2px 5px #888;
}
.feedback-mood-icon {
    background-image: url(/rsrcs/img/feedback.png);
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.happy-icon {
    background-position: 0 0;
}
.sad-icon {
    background-position: -48px 0;
}
.idea-icon {
    background-position: -96px 0;
}

#feedback-type {
    font-weight: bold;
    color: #888;
}
#feedback-desc-page {
    padding: 10px 0 0;
}
#feedback-desc {
    resize: none;
    height: 60px;
    width: 100%;
    border: 1px solid #C3D9FF;
    font-size: inherit;
}


/*
 * Tags listing
 */

.tag-items-count {
    height: 48px;
    width: 48px;
    line-height: 45px;
    text-shadow: 0px 0px 2px black;
    background-color: #DDD;
    border: 1px solid #CCC;
    color: white;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}


/*
 * Alerts, error and warning display
 */

#alertbar {
    position: fixed;
    width: 100%;
    padding: 0;
    border-width: 0;
    margin: 0;
    top: 0;
}
#alertbar > .alert {
    width: 980px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 22px;
    border-top: 1px dotted white;
}
#alertbar > .first-child {
    border-top: none !important;
}

.alert {
    padding: 5px 0px;
    margin: 10px;
    text-align: center;
    min-height: 0;
}
.alert-error {
    border: 1px solid #c50000;
    color: white;
    background-color: #c50000;
    font-size: 110%;
}
.alert-warning {
    border: 1px solid #c5a5a5;
    background-color: #fababa;
}
.alert-info {
    border: 1px solid #c5c5a5;
    background-color: #fafaba;
}


/*
 * Styling for Admin page
 */

#add-user-wrapper {
    background-color:white;
}

#add-user-wrapper .tabs {
    padding-top: 4px;
    margin: 0;
}

#add-user-wrapper .tablinks a {
    cursor: pointer;
}

#add-user-wrapper .styledform {
    border-bottom: 1px solid #C3D9FF;
    border-left: 1px solid #C3D9FF;
    border-right: 1px solid #C3D9FF;
}

#add-user-wrapper #next-load-wrapper {
    margin: 10px 5px !important;
}

#add-user-wrapper .styledform-buttons {
    margin: 10px !important;
}

#add-user-wrapper .styledform ul {
    padding-top: 10px;
}


/*
 * Error page
 */

.error-page-contents {
    font-size: 14px;
    text-align: center;
    padding: 30px 10px;
}

.error-buttons li {
    margin: 20px 3px;
}


/*
 * Styling for events
 */

.event-date-icon {
    position: absolute;
    width:3em;
    text-shadow: none !important;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px #CCCCCC;
    color: #000000;
    cursor: pointer;
    font-family: inherit;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size:11px;
}

.event-date-month {
    background-color: #D04721;
    color: #FFDAB9;
    font-weight: bold;
    letter-spacing:1px;
    padding:1px 0px;
}

.event-date-day {
    font-size:18px;
}

.event-contents {
    padding-left: 45px !important;
}

.event-description {
    margin: 4px 0;
    color:#808080;
}


/*
 * Styling for preferences
 */

#notify-setup {
    width: 75%;
    margin: 10px auto;
}
#notify-setup td {
    border-bottom: 1px solid #EEE;
    padding: 4px;
}
#notify-setup th {
    border-bottom: 1px solid #DDD;
    padding: 4px;
    background-color: #EEE;
}

.workitem {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204);
    box-shadow: 1px 1px 0pt rgb(221, 221, 221);
    margin-left: 40px;
    width: 80%;
    margin-bottom: 5px;
    background-color: #F5F5F5;
    position: relative;
}
.workitem-duration {
    font-size: 9px;
    color: gray;
    margin-bottom: 6px;
}
.workitem-desc {
    color: #999;
}
.workitem:hover > .workitem-delete {
    display: block;
}
.workitem-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-size: 10px;
    background-image: url("/rsrcs/img/sprite.png");
    background-position: -19px -47px;
    background-repeat: no-repeat;
    display: none;
}

.workitem-delete:hover, .workitem-delete:active {
    box-shadow: 0 0 2px #888;
    background-position: -19px -67px;
}

#workform {
    border: 1px solid #EEE;
    width: 80%;
    margin-left: 40px;
    padding: 10px;
}
#workadd {
    margin-left: 40px;
    padding-left: 20px;
    width: 80%;
    text-align: right;
}

