
html>/**/body {           /* > IE7 */
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color: #333;
    font-size: 11px;
    min-width: 980px;
}
textarea, input {
    font-family: sans-serif;
}
form {
    margin-bottom: 0;
}

.contents {
    -moz-transition: width 0.2s ease-in-out 0s;
    -webkit-transition: width 0.2s ease-in-out 0s;
    width: 980px;
    margin: 0 auto;
    background-color: transparent;
}


.h-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.h-links > li {
    float: left;
    display: block;
    padding: 0 5px 0 0;
}
.h-links a {
    display: inline-block;
}


.v-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.v-links li {
    line-height: 20px;
}
.v-links a {
    display: block;
}


a:link, a:visited {
    color: #3366CC;
    text-decoration: none;
}
a.ajax {
    color: #3366CC;
    cursor: pointer;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
.invisible:link, .invisible:visited {
    color: inherit;
}
.invisible:hover, .invisible:active, .invisible:focus {
    color: #3366CC;
    text-decoration: none;
}


.middle {
    vertical-align: middle;
}
.clear {
    clear: both;
    display: block;
}
.hidden {
    display: none !important;
}


/*
 * Busy Indication
 */

.busy-indicator {
    min-height: 16px;
    min-width: 24px;
}
.busy-indicator.busy {
    background-image: url(/rsrcs/img/loading.gif);
    background-position: right center;
    background-repeat: no-repeat;
}


/*
 * Generic Icon Classes
 */

.icon {
    height: 16px;
    width: 16px;
    background-image: url(/rsrcs/img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.small-icon {
    height: 10px;
    width: 13px;
    background-image: url(/rsrcs/img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.admin-icon {
    height: 16px;
    width: 16px;
    background-image: url(/rsrcs/img/admin_sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}


/*
 * Styled text inputs for inline usage.
 * Note: Fully styled forms use different style for inputs.
 */

.input-wrap {
    background-color: #FFFFFF;
    border: 1px solid #e0d7cf;
}
.input-wrap input, .input-wrap textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    border: none;
    background-color: transparent;
    line-height: 15px;
    font-size: 12px;
    outline: 0px;
    margin: 0px;
}
.input-wrap input:-moz-ui-invalid:not(output),
.input-wrap textarea:-moz-ui-invalid:not(output) {
    box-shadow: none !important;
}

/* Extra styles for sharebar and comment input */
#sharebar textarea {
    height: 31px;
    padding: 8px;
}
.comment-input {
    height: 23px;
}

#sharebar .tagedit-list, #item-subactions .tagedit-list {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 6px;
    padding-left:8px;
}

#sharebar .tagedit-listelement > input {
    margin-top: 2px;
}


/*
 * Page Layout - Header.
 */

#topbar {
    height: 35px;
    padding: 2px 0 0 0;
}
.avatar {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    border: none !important;
}
#avatar {
    height: 48px;
    width: 48px;
    border: 1px solid white;
    background: transparent;
    float: left;
    margin: 4px 0;
}
#sitelogo-link {
    border: none;
    outline: none;
    text-decoration: none;
    padding: 2px 2px 2px;
}
#sitelogo {
    margin-left: 10px;
    float: left;
    overflow: hidden;
}
#sitelogo-img {
    max-height: 35px;
    max-width: 300px;
    border: none;
    float: left;
    overflow: hidden;
}
#sitename {
    padding-top: 6px;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #3E3D39;
    text-decoration: none;
}
#search-container {
    padding: 1px;
    margin: 6px 10px 0;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    -moz-border-radius: 2px;
    float: right;
}
#searchbox, #searchbutton {
    margin: 0;
    outline: 0px;
    border: 1px solid transparent;
    background-color: transparent;
}
#searchbutton {
    color: #909090;
    border-left: 1px solid #E3E3E3;
}
#searchbox {
    width: 350px;
    font-size:12px;
}
/* Sometimes error pages are getting rendered in quirks mode.
   In quirks mode browsers add 1em margin-bottom to the forms */
#search {
    margin-bottom: 0 !important;
}


/*
 * Page Layout - MenuBar
 */

#menubar {
    background-color: #3e3d39;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    color: white;
}
#name {
    max-width: 500px;
    overflow: hidden;
    float: left;
    padding: 0 10px;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
#menubar-links-wrapper {
    float: right;
}
#menubar a {
    display: inline-block;
    padding: 0 10px;
    line-height: 25px;
    height: 25px;
    color: white;
    text-decoration: none;
}
#menubar a:hover, #menubar a:active, #menubar a:focus {
    -moz-transition: background-color 0.2s ease-in-out 0s;
    -webkit-transition: background-color 0.2s ease-in-out 0s;
    background-color: #73563d;
}



/*
 * Page Layout - Content
 * Controls single, two or three columns
 */

#left {
    float: left;
    width: 0px;
    word-wrap: break-word;
    min-height: 250px;
}
.has-left #left {width: 180px !important }

.has-left #center-right {
    margin-left: 180px;
}
#center-right {
    display: block;
    border-style: solid;
    border-color: #e0d7cf;
    border-width: 0 1px 1px;
    margin-bottom: 20px;
}

#center {
    -moz-transition: width 0.2s ease-in-out 0s;
    -webkit-transition: width 0.2s ease-in-out 0s;
    min-height: 250px;
    float: left;
    width: 980px;
}
.has-left.has-right #center { width: 570px !important; }
.has-left #center, .has-right #center { width: 800px !important; }

#right {
    float: right;
    word-wrap: break-word;
    width: 0px;
}
.has-right #right { width: 220px !important }



/*
 * Main navigation menu
 */

.sidemenu {
    padding: 2em 0 0;
}

.sidemenu a {
    padding: 1px 2px 1px 8px;
    margin-left: -3px;
    line-height: 20px;
    display: block;
    color: #333333;
    text-decoration: none;
    position: relative;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
}

.sidemenu a:hover, .sidemenu a:active, .sidemenu a:focus {
    -moz-transition: background-color 0.2s ease-in-out 0s;
    -webkit-transition: background-color 0.2s ease-in-out 0s;
    background-color: #f2f1f0;
}

.sidemenu-selected {
    background-color: #e0d7cf !important;
    font-weight:bold;
}

.sidemenu-icon {
    position: absolute;
    vertical-align: middle;
    width: 21px;
    top: 2px;
}
.sidemenu-text {
    padding-left: 21px;
}

.new-count {
    position: absolute;
    background-color: #b40000;
    color: white;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    box-shadow: 0pt 0pt 2px #909090;
    font-weight: bold;
    right: 10px;
    font-size: 9px;
    line-height: 14px;
    padding: 0 4px;
    top: 4px;
    font-family: monospace;
    font-weight: bold;
}
.view-options-count {
    position: absolute;
    background-color: #b40000;
    color: white;
    border-radius: 2px 2px 2px 2px;
    -moz-border-radius: 2px 2px 2px 2px;
    box-shadow: 0pt 0pt 2px #909090;
    font-weight: bold;
    bottom: 75%;
    right: -6px;
    font-size: 9px;
    line-height: 14px;
    padding: 0 4px;
    font-family: monospace;
    font-weight: bold;
}

/*
 * Sidemenu icons
 */
.feed-icon {
    background-position: 0 -48px;
}
.messages-icon {
    background-position: 0 -64px;
}
.notifications-icon, .notify-icon {
    background-position: 0 -80px;
}
.events-icon {
    background-position: 0 -96px;
}
.people-icon {
    background-position: 0 -128px;
}
.users-icon,
.groups-icon {
    background-position: 0 -112px;
}
.org-icon {
    background-position: 0 -144px;
}
.feedback-icon {
    background-position: 0 -224px;
}
.files-icon {
    background-position: 0 -432px;
}

/*
 * Settings icons
 */
.back-icon {
    background-position: 0 -528px;
}
.passwd-icon {
    background-position: 0 -448px;
}
.basic-icon {
    background-position: 0 -464px;
}
.work-icon {
    background-position: 0 -480px;
}
.personal-icon {
    background-position: 0 -496px;
}
.apps-icon {
    background-position: 0 -512px;
}


/*
 * Admin page icons
 */
.add-user-icon {
    background-position: 0 -16px;
}
.block-user-icon {
    background-position: 0 -32px;
}
.update-orgInfo-icon {
    background-position: 0 -64px;
}
.unblock-user-icon {
    background-position: 0 -112px;
}
.keywords-icon {
    background-position: 0 -560px;
}


/*
 * Blocks for the sidebar & Right Bar
 */

.sidebar-title {
    font-weight: bold;
    margin: 0 10px 0 -10px;
    padding: 5px 10px 2px 10px;
    border-bottom: 1px solid #DBDBDB;
}

#right .sidebar-chunk {
    padding: 15px 0 0 15px;
}

#right .v-links a {
    display: block;
}

#invite-people-block form {
    margin-right: 20px;
    text-align: right;
}
#invite-people-block .input-wrap {
    margin: 5px 0;
}

.user-subactions {
    margin: 5px 10px 0 -10px;
    padding: 5px 10px;
    border-top: 1px solid #DBDBDB;
}

.invite-input-block {
    margin-top: 4px;
    margin-right: 20px;
}

/*
 * Content title area
 */

.title {
    font-size: 25px;
    margin-right: 20px;
}
.subtitle {
    color: #909090;
    font-size: 16px;
    line-height: 1.8em;
    margin-top: 8px;
}

.center-header {
    background-color: #f2f1f0;
    padding: 15px;
    border-bottom: 1px solid #e0d7cf;
}

.center-contents {
    padding: 10px;
    font-size: 12px;
    line-height: 1.3em;
}

.header-form {
    margin-top: 10px;
}
.header-form .header-form-buttons{
    text-align: right;
}

.center-title {
    font-size: 16px;
    line-height: 1.5em;
    color: #909090;
    border-bottom: 1px solid #EAEAEA;
    margin: 20px 10px;
}
.title-toolbox {
    text-align: right;
    font-size: 12px;
    line-height: 2em;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #E3E3E3;
}


#useravatar {
    height: 128px;
    width: 128px;
    padding: 4px;
    border: 1px solid #e0d7cf;
    background-color: transparent;
    float: right;
    margin-left: 15px;
}

#userprofile {
    padding-left: 15px;
}

.summary-line {
    font-size: 14px;
    line-height: 1.8em;
}

.summary-item {
    color: #909090;
    padding: 0 8px 0 0;
    vertical-align: middle;
}

.attach-file-icon {
    background-position: 0px -416px;
}

.summary-icon, .background-icon {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.landline-icon {
    background-image: url(/rsrcs/img/phone-landline.png);
}

.mobile-icon {
    background-image: url(/rsrcs/img/phone-mobile.png);
}

.user-actions > .button {
    margin-right: 6px;
    font-size:100%;
}

#profile-center-right {
  width: 100%;
  float: left;
}

#profile-content {
    padding: 15px 0 0;
}

.pinfo-contents {
    padding: 0 100px;
    margin-bottom: 40px;
}

.pinfo-inlineval {
    color: #333333;
}

.activity-item {
    padding-left: 60px;
    position: relative;
    min-height: 22px;
    font-size: 13px;
}

.activity-icon {
    position: absolute;
    left: 35px;
}

.activity-footer {
    clear: both;
    font-size: 10px;
    color: #909090;
    padding: 0 0 6px;
}

.like .activity-icon {
    background-position: -16px -224px;
}
.answer .activity-icon,
.comment .activity-icon,
.status .activity-icon {
    background-position: 0 -224px;
}

.socschl {
    background-color: #DFFF00;
    padding: 0 3px;
}

/*
 * Simple TabView
 */

.tabs {
    background-color: #f2f1f0;
    border-bottom: 1px solid #e0d7cf;
    border-top: 1px solid #e0d7cf;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: 0 -10px;
    padding: 5px 15px 0;
}
.tablinks {
}
.tablinks a {
    padding: 0 10px;
    margin: 0 2px;
    height: 20px;
    color: #3e3d39;
    text-decoration: none;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
}
.tablinks a:hover,
.tablinks a:active, .tablinks a:focus {
    border-color: #e0d7cf #e0d7cf transparent;
}
.tablinks .selected {
    margin-bottom: -1px;
    border-color: #e0d7cf #e0d7cf transparent !important;
    background-color: white;
}


/*
 * Main Share Block
 */

#share-block {
    padding: 10px;
    border-bottom: 1px solid #e0d7cf;
    margin-bottom: 10px;
    position: relative;
}
#sharebar-links li {
    padding: 5px 5px 5px 0;
    font-weight: bold;
    color: #909090;
}
#sharebar-links a {
    display: inline-block;
    padding: 5px 0px 5px 5px;
    margin: -5px 10px -5px 0;
    color: #73563d;
    position: relative;
}
#sharebar-links a:hover,
#sharebar-links a:active, #sharebar-links a:focus {
    text-decoration: none;
}
a:hover > .sharebar-text,
a:active > .sharebar-text, a:focus > .sharebar-text {
    text-decoration: underline;
}
.selected-publisher {
    color: black !important;
}
.sharebar-icon {
    position: absolute;
    vertical-align: middle;
    top: 2px;
}
.sharebar-text {
    padding-left: 20px;
}

.acl-button-disabled {
    color: #909090 !important;
    cursor: default !important;
}


.poll-icon {
    background-position: 0px -32px;
}
.event-icon {
    background-position: 0px -16px;
}
.question-icon {
    background-position: 0 -352px;
}
.link-icon {
    background-position: 0 -368px;
}
.tick-icon {
    background-position: 0 -320px;
}
.empty-icon {
    background-position: 0 20px;
}

#sharebar .input-wrap {
    margin-bottom: 5px;
    border-color: #E3E3E3 #909090 #909090 #E3E3E3;
    box-shadow: 1px 1px 0 #E3E3E3;
    clear: both;
}
#sharebar-actions {
    float: right;
    margin-right: -4px;
}

#sharebar-actions-wrapper {
    float: right;
    display: inline-block;
}

.sharebar-disabler {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 100;
          background-color: rgba(255,255,255,0.75);
          display: none;
      }
.disabled > .sharebar-disabler {
          display: block;
      }

/*
 * ACL
 */

.acl-menu {
    width: 180px;
}
.acl-footer {
    border-top: 1px solid #E3E3E3;
    text-align: right;
    clear: left;
    padding: 2px;
}
.acl-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.acl-title {
    overflow: hidden;
    width: 150px;
    display: inline-block;
}

.acl-item .icon {
    position: absolute;
    background: transparent;
    left: 4px;
}
.acl-item:hover {
    border:none !important;
}
.acl-checked .icon {
    background-position: 0 -320px;
}
.acl-busy-item {
    line-height: 1.5em;
    padding: 0.2em 0.4em;
    background-image: url(/rsrcs/img/loading.gif);
    background-position: -5px center;
    background-repeat: no-repeat;
}

.acl-text-button {
    padding: 3px 0;
    margin: 0 4px;
    background: transparent;
    border: none;
    font-size: inherit;
    font-family: inherit;
    color: #73563d;
    cursor: pointer;
}
.acl-button > span {
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}
.acl-label {
    max-width: 120px;
    text-overflow: ellipsis;
}

.menu-item {
    text-align: left;
}

.acltip {
    white-space: normal;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 0.9em;
    opacity: 0.5;
}

.acl-button > .tooltip {
    width: 190px;
}


/*
 * File Attachment
 */

.file-attach-outer {
    position: relative;
    padding-right: 25px;
}
.file-attach-outer.busy .file-attach-button {
    color: #909090 !important;
}
.file-attach-button {
    border: 0px;
    padding: 2px 4px 2px 0;
    margin: 0px;
    color: #73563d;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
}

.file-attach-input {
    position: absolute;
    top: 0;
    right: 25px;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    z-index: 2;
    cursor: pointer;
}

.file-attach-wrapper {
    float: left;
    overflow: hidden;
}

.uploaded-filelist {
    margin-bottom: 6px;
}
.attachment-list {
    float: left;
    margin: 10px 0 0;
}

.uploaded-file,
.attachment-item {
    min-height: 16px;
    line-height: 16px;
}
.uploaded-file {
    padding: 4px 6px;
    border-bottom: 1px solid #e0d7cf;
    font-size: 110%;
}

.uploaded-file-meta,
.attachment-meta {
    max-width: 80px;
    overflow: hidden;
    opacity: 0.5;
}
.uploaded-file-meta {
    float: right;
}

.uploaded-file-name,
.attachment-name {
    max-width: 350px;
    overflow: hidden;
}

.uploaded-file-del {
    height: 16px;
    width: 16px;
    background: transparent url("/rsrcs/img/sprite.png") -19px -47px no-repeat;
    border: 0px none;
    outline: 0px none;
    float: right;
    vertical-align: middle;
}
.uploaded-file-del:hover {
    box-shadow: 0 0 2px #909090;
    background-position: -19px -67px;
}

/*
 * Feed
 */

#welcome-message {
    font-size: 13px;
    line-height: 1.5em;
}

#welcome-message ul {
    padding-left: 20px;
    margin: 5px;
}

#user-feed {
    padding: 10px 10px 20px 20px;
}

.conv-item {
    padding: 10px 0 16px;
    border-top: 1px dotted #E3E3E3;
}
.conv-item:first-child {
    padding-top: 0px;
    border-top: none;
}

.conv-item-created {
    -moz-animation: slidein 1.5s;
    -webkit-animation: slidein 1.5s;
}
@-moz-keyframes slidein {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes slidein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.conv-item-bottom {
    clear: both;
}

.conv-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
    text-align: right;
}

.conv-data {
    padding-left: 60px;
    position:relative;
}

.conv-root:hover > .conv-other-actions {
    display: block;
}

.conv-reason {
    display: block;
    color: #909090;
    margin-bottom: 4px;
    word-wrap: break-word;
    padding-right: 16px;
}

.conv-root-render {
    min-height: 50px;
    margin-bottom: 4px;
}

.conv-user-cause {
    font-weight: bold;
}

.conv-target {
    font-size: 1.4em;
    line-height: 1em;
    color: #999999;
    padding: 0 6px;
}

.conv-comments-more,
.conv-comment,
.conv-likes,
.conv-tags,
.comment-form-wrapper {
    background-color: #F3F3F3;
    border-bottom: 1px solid #E3E3E3;
    margin: 1px 0 0;
    padding: 4px 6px;
}

.conv-tags-input {
    font-size: 11px !important;
    padding: 2px !important;
}

.conv-comment {
    min-height: 32px;
}

.text-expander, .text-collapser {
    border: 0px;
    margin: 0px;
    padding: 0px;
    color: #3366cc;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
}
.text-collapser {
    display: block;
}
.text-expander:focus, .text-collapser:focus {
    text-decoration: underline;
    outline: 1px dotted #3366cc;
}

.conv-quote {
    border-left: 1px solid #E3E3E3;
    padding: 0 8px;
    margin: 10px 0;
}

.comment-avatar {
    height: 32px;
    width: 32px;
    float: left;
    position: absolute;
}

.comment-meta {
    padding-left: 38px;
}
.comment-container {
    padding: 2px 16px 2px 38px;
    position: relative;
}

.conv-comment:hover .conv-other-actions {
    display: block;
}

.conv-footer {
    color: #909090;
    padding: 5px 0 0;
    font-size: 10px;
    clear: both;
}

.comment-meta {
    color: #909090;
    font-size: 9px;
    clear: both;
}
abbr.timestamp {
    border: none;
}

.text-full, .text-preview {
    word-wrap: break-word;
    white-space: pre-wrap;
}
#empty-message,
#next-load-wrapper {
    padding: 10px 20px;
    border-top: 1px solid #E0D7CF;
    background-color: #f2f1f0;
    margin-top: 25px;
    background-image: linear-gradient(bottom, #FFFFFF 0%, #F2F1F0 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #F2F1F0 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #F2F1F0 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #F2F1F0 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #F2F1F0 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #FFFFFF),
        color-stop(1, #F2F1F0)
    );
}
#empty-message {
    text-align: center;
}

.no-likes .likes-wrapper,
.no-tags .tags-wrapper {
    display: none;
}
.no-comments.no-likes.no-tags .comment-form-wrapper {
    display: none;
}

.button-link .small-icon {
    margin-bottom: 2px;
}
.small-like {
    background-position: -22px 0;
}
.small-comment {
    background-position: -22px -20px;
}
.button-link:hover .small-like,
.button-link:active .small-like,
.button-link:focus .small-like {
    background-position: -22px -10px;
}
.button-link:hover .small-comment,
.button-link:active .small-comment,
.button-link:focus .small-comment {
    background-position: -22px -30px;
}

.conv-other-actions {
    position: absolute;
    top: 0px;
    right: -2px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-size: 10px;
    background-image: url("/rsrcs/img/sprite.png");
    background-position: -19px -47px;
    background-repeat: no-repeat;
    display: none;
}

.conv-other-actions:hover, .conv-other-actions:active {
    box-shadow: 0 0 2px #909090;
    background-position: -19px -67px;
}

.suggestions-user {
    position: relative;
    margin-top: 5px;
    clear: both;
}

#report-status {
    padding: 10px 8px;
    border-top: 1px solid #FFAAAA;
    border-bottom: 1px solid #FFAAAA;
    background-color: #F2F1F0;
    margin-top: 20px;
    background-image: linear-gradient(bottom, #FFFFFF 0%, #FFEEEE 100%);
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #FFEEEE 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #FFEEEE 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #FFEEEE 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #FFEEEE 100%);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #FFFFFF),
        color-stop(1, #FFEEEE)
    );
}
.report-link {
    color: #3366CC !important;
    background-color: transparent !important;
}

/*
 * Generic item display
 */

.item-title {
    position: relative;
    color: #000000;
    font-size: 14px;
    word-wrap: break-word;
}
.item-icon {
    position: absolute;
    vertical-align: middle;
}
.has-icon > .item-title-text,
.has-icon.item-contents {
    padding-left: 20px;
    padding-bottom: 8px;
    display: inline-block;
}
.item-subactions {
    clear: both;
    color: #909090;
    font-size: 10.5px;
    padding: 8px 0 0;
}

#item-subactions {
    margin-bottom: 10px;
}

#item-subactions .tagedit-list {
    min-height: inherit;
}

/*
 * Edit profile & Style for a generic form.
 * Note: When using an input inline with text (always visible and subtle)
 *       then consider using a "input-wrap" approach (above)
 */

.styledform, .dlgform {
    list-style-type: none;
    margin: 0px;
    padding-left: 15px;
}
.dlgform {
    padding: 10px;
}

.styledform > .form-row,
.dlgform > .form-row {
    clear: both;
    line-height: 30px;
    padding: 5px 0px;
    overflow: hidden;
}

.styled-label, .dlgform-label {
    float: left;
    margin-right: 2%;
    text-align: right;
    width: 25%;
    font-size: 12px;
}

.dlgform.tagedit-list,
.dlgform-text,
.dlgform input[type=text],
.dlgform input[type=email],
.dlgform input[type=password],
.dlgform select,
.dlgform textarea {
    width: 67%;
    max-width: 350px;
    float: left;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #E3E3E3 #909090 #909090 #E3E3E3;
    box-shadow: 1px 1px 0 #E3E3E3;
    padding: 2px;
    margin-top: 3px;
    font-size: 12px;
}

.dlgform .error-input {
    width: 350px;
    color: #C50000;
}

.dlgform ul li{
    margin-bottom: 4px;
}


.dlgform .alert {
    margin: 10px 0px !important;
}

.styledform-helpwrap {
    width: 50%;
    max-width: 350px;
    float: left;
    line-height: 1.3em;
    color: #909090;
}

.styledform-text {
    width: 50%;
    max-width: 350px;
    float: left;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #EAEAEA #E3E3E3 #E3E3E3 #EAEAEA;
    padding: 3px;
    margin-top: 3px;
    font-size: 12px;
    line-height: normal !important;
}

.styledform.tagedit-list,
.styledform-inputwrap,
.styledform input[type=text],
.styledform input[type=email],
.styledform input[type=password],
.styledform select,
.styledform textarea {
    width: 50%;
    max-width: 350px;
    float: left;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #E3E3E3 #909090 #909090 #E3E3E3;
    box-shadow: 1px 1px 0 #E3E3E3;
    padding: 2px;
    margin-top: 3px;
    font-size: 12px;
}
.styledform-inputwrap {
    background-color: transparent !important;
    line-height: normal !important;
}
.styledform select {
    width: 51%;
    max-width: 354px;
}
.styledform input[type=radio],
.styledform input[type=checkbox] {
    position: relative;
    top: 3px;
}
.inline-select {
    width: auto !important;
}

.tagedit-listelement > input {
    border-style: none !important;
    box-shadow: none !important;
    background-color: transparent !important;
    border-width: 0 !important;
    padding: 0 !important;
}

.styledform abbr {
    color: #B40000;
    border-style: none;
}

.styledform-buttons {
    padding: 10px;
    margin: 10px auto;
    min-width: 400px;
    width: 80%;
    max-width: 600px;
    text-align: right;
    border-top: 1px solid #E0D7CF;
}

.styledform .multiselect {
    line-height: 1.3em !important;
}

/*
 * Tiled Listing
 * List of users - friends and people in organization
 */

.tl-wrapper {
    margin: 0px auto;
}

.tl-item {
    float: left;
    width: 230px;
    height: 48px;
    border: 1px solid #EAEAEA;
    background-color: #FAFAFA;
    position: relative;
    padding: 6px;
    border-radius: 6px;
    margin: 0 0 10px 10px;
}

.tl-empty-msg {
    float: left;
    font-size: 14px;
    margin: 0 0 10px 10px;
}
.tl-item + .tl-empty-msg {
    display: none;
}

.tl-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 5px;
    background-color: #E3E3E3;
}

.tl-details {
    margin-left: 60px;
}

.tl-title, .tl-name, .tl-toolbox {
    color: #909090;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tl-toolbox {
    font-size: 90%;
    margin-left: -4px;
    white-space: normal;
}

.users-row {
    width: 100%;
    min-height: 50px;
    padding: 10px 0 0;
    margin: 10px 0 0;
    border-top: 1px solid #EAEAEA;
    clear: both;
}

.users-row:first-child {
    padding: 0;
    margin: 0;
    border-top: none !important;
}

.users-row-first {
    padding: 0;
    margin: 0;
    border-top: none !important;
}

.users-user {
    float: left;
    width: 48%;
    margin-bottom: 8px;
    position: relative;
}

.users-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0px;
}

.users-details {
    margin-left: 60px;
}

.user-details-title {
    color: #909090;
}

.user-details-name {
    font-size: 14px;
}

.user-details-actions {
    margin-top: 6px;
}

#group-desc {
    display: block;
}

#group-share-block {
    padding: 20px 10px 10px;
    position: relative;
    width: 570px;
    float: left;
    border-bottom: 1px solid #e0d7cf;
    margin: 0 -10px 10px;
}

.group-details-title {
    color: #909090;
    float:left;
    display:inline-block;
}

.group-details-desc {
    color: #909090;
    display: inline-block;
    font-style: italic;
    overflow: hidden;
    white-space: nowrap;
    max-width: 230px;
    text-overflow: ellipsis;
}

.viewbar {
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #e0d7cf;
}

.paged-container {
    min-height: 300px;
    padding: 10px;
}

.pagingbar {
    margin: 10px 0 5px;
    padding: 10px 0;
    border-top: 1px solid #e0d7cf;
    text-align: right;
}

.pagingbar .button {
    margin-left: 5px;
}

.view-options {
    font-weight: bold;
    color: #909090;
}

.view-options .selected {
    color: black !important;
    border: 1px solid #e0d7cf;
    background-color: #f2f1f0;
    border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 2px 3px;
    margin: 0 5px;
}

.view-options a {
    padding: 2px 3px;
    margin: 0 2px;
    border: 1px solid transparent;
}
.view-options li {
    position: relative;
    border: 1px solid transparent;
    margin: 0 3px;
}
#invite-people > .input-wrap {
    padding-left: 25px;
    position: relative;
    margin-bottom: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.invite-people-entry {
    position: absolute;
    background-position: 0 -304px;
    left: 4px;
}


/*
 * Notifications
 */
.notifications {
    margin: 20px;
}

.notification-item.unread {
    background-color: #fdfddc;
    border-left: 3px solid #FCDC5C;
}

.notification-item:first-child {
    border-top: none;
}

.notification-item {
    padding: 10px 0 10px 90px;
    border-top: 1px dotted #E3E3E3;
    font-size: 14px;
    min-height: 32px;
    position: relative;
    border-left: 3px solid transparent;
}

.notification-footer {
    color: #909090;
    padding: 5px 0 0;
    font-size: 10px;
    clear: both;
}

.notification-avatars-wrapper {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 74px;
}

.notification-avatar {
    float: right;
    width: 32px;
    height: 32px;
    padding: 0 2px;
}


/*
 * Styling for polls
 */

.poll-wrapper {
    height: 20px;
    width: 370px;
    display: inline-block;
}

.poll-bar-wrapper {
    width: 330px;
    display: inline-block;
    border: 1px solid #97BFE1;
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    padding: 1px;
}

.poll-bar {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.26, #97BFE1),
        color-stop(0.63, #e0d7cf)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #97BFE1 26%,
        #e0d7cf 63%
    );
    border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    display: inline-block;
    height: 18px;
    background-color: #97BFE1;
}

.poll-results {
    list-style: none;
    padding: 0;
    margin: 0;
}
.poll-results > li {
    clear: both;
    padding: 5px 0;
}
.poll-percent {
    display: inline-block;
    text-align: right;
    font-size: 10px;
    padding-bottom: 0px;
}
.poll-percent > span {
    height: 20px;
    width: 25px;
    line-height: 20px;
    display: block;
    cursor: pointer;
    text-shadow: 0 1px 1px #909090;
}

.poll-options-option {
    display: inline-block;
    float: left;
    position: relative;
    top: 2px;
}

.poll-option-text {
    font-size: 11px;
    position: absolute;
    font-weight: bold;
    max-width: 325px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 8px;
    line-height: 18px;
    text-shadow: 0 1px 1px #FFFFFF;
}

#share-poll-options > .input-wrap {
    padding-left: 25px;
    position: relative;
}
.poll-option {
    position: absolute;
    background-position: 0 -304px;
    left: 4px;
}


/*
 * Styling for tags
 */

.tag {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #FFF #e0d7cf #e0d7cf;
    background-color: #f2f1f0;
    padding: 1px 6px 1px 4px;
    margin: 1px;
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.edit-tags-button, .done-tags-button {
    float: right;
    font-size: 10px !important;
    line-height: 16px;
    vertical-align: middle;
}

.tags-icon,
.edit-tags-icon {
    background-position: 0 -240px;
    padding: 0 2px;
}
.done-tags-icon {
    padding: 0 2px;
    background-position: 0 -400px;
}

.delete-tags,
.done-tags-button,
.editing-tags .edit-tags-button,
.edit-tags-form {
    display: none;
}
.edit-tag-button,
.editing-tags .delete-tags,
.editing-tags .done-tags-button,
.editing-tags .edit-tags-form {
    display: inline-block;
}

.edit-tags-form {
    margin-top: 4px !important;
}

.done-tags-button {
    margin-top: 4px !important;
}

.link-item {
    margin-top: 6px;
}
.link-details {
    display: table-cell;
}
.link-summary {
    font-size: 12px;
    font-family: inherit;
    margin-top: 4px;
}
.link-title {
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
}
.link-image {
    float: left;
    margin-right: 10px;
    max-height: 100px;
    max-width: 100px;
    border: 1px solid #EAEAEA;
    padding: 4px;
}
.link-url {
    color: #909090;
    font-size: 11px;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}
.embed-wrapper {
    position: relative;
    float: left;
    cursor: pointer;
}
.embed-overlay {
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
}


/*
 * Feedback dialog
 */

#feedback-linkwrap {
    position: fixed;
    right: 25px;
    bottom: 0;
    background: transparent;
}
#feedback-linkwrap > a:link {
    display: block;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #3E3D39;
    border-radius: 4px 4px 0 0;
}
#feedback-linkwrap .feedback-icon {
    margin-right: 5px;
}

#feedback-center {
    padding: 10px;
}
#feedback-mood-wrapper {
    text-align: center;
}

.feedback-mood {
    width: 33.3%;
    float: left;
    padding: 6px 0;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
.feedback-mood:focus, .feedback-mood:hover {
    background-color: #F2F1F0;
}
.feedback-mood-selected {
    background-color: #E0D7CF !important;
    box-shadow: inset 2px 2px 5px #909090;
}
.feedback-mood-icon {
    background-image: url(/rsrcs/img/feedback.png);
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.happy-icon {
    background-position: 0 0;
}
.sad-icon {
    background-position: -48px 0;
}
.idea-icon {
    background-position: -96px 0;
}

#feedback-type {
    font-weight: bold;
    color: #909090;
}
#feedback-desc-page {
    padding: 10px 0 0;
}
#feedback-desc, #conv-report-comment {
    resize: none;
    height: 60px;
    width: 100%;
    border: 1px solid #e0d7cf;
    font-size: inherit;
}


/*
 * Tags listing
 */

.tag-items-count {
    height: 48px;
    width: 48px;
    line-height: 45px;
    text-shadow: 0px 0px 2px black;
    background-color: #E3E3E3;
    border: 1px solid #E3E3E3;
    color: white;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}


/*
 * Alerts, error and warning display
 */

#alertbar {
    position: fixed;
    width: 100%;
    padding: 0;
    border-width: 0;
    margin: 0;
    top: 0;
    z-index: 20000;
}
#alertbar > .alert {
    width: 980px;
    margin: 0 auto;
    font-weight: bold;
    line-height: 22px;
    border-top: 1px dotted #FFFFFF;
}
#alertbar > .first-child {
    border-top: none !important;
}

.alert {
    padding: 5px 0px;
    margin: 10px;
    text-align: center;
    min-height: 0;
}
.alert-error {
    color: #FFFFFF;
    border: 1px solid #c50000;
    background-color: #c50000;
    font-size: 110%;
}
.alert-info {
    border: 1px solid #FAD42E;
    background-color: #FBEC88;
}


/*
 * Styling for Admin page
 */

#add-user-wrapper {
    background-color: #FFFFFF;
}

#add-user-wrapper .tabs {
    padding-top: 4px;
    margin: 0;
}

#add-user-wrapper .tablinks a {
    cursor: pointer;
}

#add-user-wrapper .styledform {
    border-bottom: 1px solid #E0D7CF;
    border-left: 1px solid #E0D7CF;
    border-right: 1px solid #E0D7CF;
}

#add-user-wrapper #next-load-wrapper {
    margin: 10px 5px !important;
}

#add-user-wrapper .styledform-buttons {
    margin: 10px !important;
}

#add-user-wrapper .styledform ul {
    padding-top: 10px;
}


/*
 * Error page
 */

.error-page-contents {
    font-size: 14px;
    text-align: center;
    padding: 30px 10px;
}

.error-buttons li {
    margin: 20px 3px;
}


/*
 * Styling for events
 */

.event-date-icon {
    position: absolute;
    width: 3.5em;
    height: 3.5em;
    text-shadow: none !important;
    background-color: #F9F9F9;
    background-repeat: scroll;
    background-position: 0 0;
    background-image: -webkit-gradient(linear, center, top, from(#F9F9F9), to(#E3E3E3));
    background-image: -webkit-linear-gradient(top, #F9F9F9, #E3E3E3);
    background-image: -moz-linear-gradient(top, #F9F9F9, #E3E3E3);
    background-image: -ms-linear-gradient(top, #F9F9F9, #E3E3E3);
    background-image: -o-linear-gradient(top, #F9F9F9, #E3E3E3);
    background-image: linear-gradient(to bottom, #F9F9F9, #E3E3E3);
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 2px #E3E3E3;
    color: #000000;
    cursor: pointer;
    font-family: inherit;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    font-size:11px;
}

.event-date-month {
    background-color: #D04721;
    color: #FFDAB9;
    font-weight: bold;
    letter-spacing:1px;
    padding:1px 0px;
}

.event-date-day {
    font-size:18px;
    padding-top: 2px;
}

.event-contents {
    padding-left: 45px !important;
    font-size: 12px;
}

.event-description {
    margin: 4px 0;
    color:#808080;
}

.event-title-text {
    padding-left: 45px !important;
    font-weight: bold;
    overflow: hidden;
    max-width: 25em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.event-duration-text {
    font-size: 13px;
}

.event-agenda-link {
    display: inline-block !important;
}

.event-agenda-link-expired {
    display: inline-block !important;
    color: #888888 !important;
}

.event-agenda-due-in {
    display: inline-block;
    color: #909090;
    float: right;
}

.agenda-root {
    float: left;
}

.agenda-contents {
    padding-left: 45px;
}

.agenda-contents .event-duration-text {
    font-size: 11px;
}

.event-details {
    float: right;
    position: relative;
}

.event-details  > div {
    padding: 2px 4px;
    text-align: right;
}

.event-details .button-link {
    padding: 0px;
}

#sharebar .time-picker .ui-autocomplete {
  max-height: 140px;
}

.event-show-more-attendees {
    float:right;
    margin-right:10px;
}

#agenda-start-wrapper {
    float: right;
    width: 12em;
    border: none;
}

#agenda-start {
    width: 10em;
}

#agenda-start + .ui-datepicker-trigger {
    display: inline-block;
}

.time-picker {
    display:inline-block;
    width:9em;
}

.date-picker-wrapper {
    display:inline-block;
    width:12em;
}

#allDay-wrapper {
    display:inline-block;
    float:right;
    padding: 4px 0px;
}

#allDay {
    vertical-align: middle;
}

#feed-side-block-container .v-links {
    margin-right: 20px;
}

/*
 * Styling for preferences
 */

#notify-setup {
    width: 75%;
    margin: 10px auto;
}
#notify-setup td {
    border-bottom: 1px solid #EAEAEA;
    padding: 4px;
}
#notify-setup th {
    border-bottom: 1px solid #E3E3E3;
    padding: 4px;
    background-color: #EAEAEA;
}

.workitem {
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #E3E3E3 #909090 #909090 #E3E3E3;
    box-shadow: 1px 1px 0pt #E3E3E3;
    margin-left: 40px;
    width: 80%;
    margin-bottom: 5px;
    background-color: #F5F5F5;
    position: relative;
}
.workitem-duration {
    font-size: 9px;
    color: #909090;
    margin-bottom: 6px;
}
.workitem-desc {
    color: #909090;
}
.workitem:hover > .workitem-delete {
    display: block;
}
.workitem-delete {
    position: absolute;
    top: 2px;
    right: 2px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-size: 10px;
    background-image: url("/rsrcs/img/sprite.png");
    background-position: -19px -47px;
    background-repeat: no-repeat;
    display: none;
}

.workitem-delete:hover, .workitem-delete:active {
    box-shadow: 0 0 2px #909090;
    background-position: -19px -67px;
}

#workform {
    border: 1px solid #EAEAEA;
    width: 80%;
    margin-left: 40px;
    padding: 10px;
}
#workadd {
    margin-left: 40px;
    padding-left: 20px;
    width: 80%;
    text-align: right;
}


/* Browser compatibility errors */
#unsupported-browser,
#compatibility-mode,
#missing-javascript {
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 100000;
    left: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5em;
}
#unsupported-browser,
#compatibility-mode {
    display: none;
}

.unsupported-text {
    background: #c50000;
    padding: 3px 20px;
    color: white;
    border-radius: 0 0 6px 6px;
}


/*
 * Files Display
 */
#files-content {
    padding: 0;
}
.files-table {
    text-align: left;
    table-layout: fixed;
}

tr:first-child > td.file-info,
tr:first-child > td.file-context,
tr:first-child > td.file-actions {
    border-top: none;
}
td.file-info, td.file-context, td.file-actions {
    padding: 5px;
    border-top: 1px dotted #E3E3E3;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.file-wrapper {
    position: relative;
}
.file-details {
    margin-left: 40px;
}
.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.file-meta {
    color: #909090;
    font-size: 10px;
    padding: 5px 0 0;
}
.file-icon {
    height: 32px;
    width: 32px;
    background: #E3E3E3;
    border: 1px solid #E3E3E3;
    position: absolute;
    top: 1px;
}


/*
 * Settings
 */
#expertise-input {
    padding: 1px;
    width: 98%;
    position: relative;
}
#expertise-textbox {
    border-style: none;
    box-shadow: none;
    outline: none;
    margin: 0;
    width: 75%;
}
#expertise-add {
    width: 23%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0;
    border-width: 0 0 0 1px;
}

.company-item {
    border: 1px solid #EAEAEA;
    background-color: #FAFAFA;
    position: relative;
    padding: 6px;
    border-radius: 0 6px 6px 6px;
    margin: 0 0 10px;
    line-height: 1.6em;
    min-height: 48px;
}

.company-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 5px;
    background-color: #E3E3E3;
}

.company-details {
    margin-left: 60px;
}

.company-title, .company-name, .company-toolbox {
    color: #909090;
}
.company-name {
    color: inherit;
    font-weight: bold;
}

.company-remove {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 16px;
    width: 16px;
    cursor: pointer;
    font-size: 10px;
    background-color: transparent;
    background-image: url("/rsrcs/img/sprite.png");
    background-position: -19px -47px;
    background-repeat: no-repeat;
    border-width: 0px;
}

.company-remove:hover, .company-remove:active {
    box-shadow: 0 0 2px #909090;
    background-position: -19px -67px;
}

.company-empty-msg {
    font-size: 14px;
    margin: 0 0 10px;
}

.addedu-center, .addemp-center {
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #EAEAEA;
    margin-bottom: 10px;
}

.addedu-buttons, .addemp-buttons {
    padding: 10px 0;
    margin: 10px auto;
    width: 90%;
    text-align: right;
    border-top: 1px solid #E0D7CF;
}


/*
 * Search results
 */

#search-results {
    padding: 0 20px 20px;
}

.search-subtitle {
    font-size: 16px;
    line-height: 1.5em;
    color: #909090;
    border-bottom: 1px solid #EAEAEA;
    margin: 20px 10px 20px -10px;
}

.search-conv-avatar {
    position: absolute;
    width: 32px;
    height: 32px;
    padding-left: 16px;
}

.search-pagemeta {
    line-height: 1.5em;
    font-weight: bold;
    padding: 6px 10px !important;
}


/*
 * Large icons
 */
.large-icon {
    width: 48px;
    height: 48px;
    background-image: url(/rsrcs/img/large-sprite.png);
    display: inline-block;
    vertical-align: middle;
}

.large-tag-following {
    background-position: 0 -48px;
}

.large-keyword {
    background-position: 0 -96px;
}


#expertise-container {
    line-height: 1.3em;
    text-transform: capitalize;
}

.chat-summary {
    display: inline-block;
    width: 80%;
    /*padding-left: 20px;*/
}

.chat-item ~ .conversation-message-wrapper:last-child {
    margin-bottom: 4px;
}

.chat-time {
    display: inline-block;
    padding-left: 3px;
    color: #909090;
    float: right;
}

.chat-sender {
    display: inline-block;
    /*margin-left: -20px;*/
    font-weight: bold;
}

.chat-message-header {
    margin-top: 4px;
    padding: 4px 0 0;
    position: relative;
}

.chat-item {
    border-top: 1px dotted #E3E3E3;
    margin-top: 4px;
}

.chat-item:first-child {
    border-top: medium none;
    padding-top: 0;
}

/* Roster and chat related CSS */

.chats-icon {
    background-position: 0 -224px;
    width: 16px;
}

#online-status-bar {
    background-color: #FAFAFA;
    margin-left: -10px;
    margin-right: 10px;
}

#user-online-status-text {
    font-size: 115%;
}

#online-status-button {
    margin: 3px;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
}

#user-online-status-icon {
    float: left;
}

#roster-container {
    margin-top: 20px;
}

#roster-list-container {
    margin-left: -10px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#roster-linkwrap {
    position: fixed;
    left: 25px;
    bottom: 0;
    background: transparent;
}

#roster-linkwrap > a:link {
    display: block;
    color: white;
    font-weight: bold;
    padding: 5px 20px;
    background-color: #3E3D39;
    border-radius: 4px 4px 0 0;
}

#roster-error {
    font-size: 10px;
    color: #c50000;
    line-height: 1.75em;
    padding-top: 5px;
}

.roster-list {
    margin-top: 5px;
    margin-right: 10px;
}

.roster-item {
    cursor: pointer;
    position: relative;
    min-height: 38px;
    display: block;
    border-bottom: 1px dotted #E3E3E3DDD;
}

.roster-item:hover, .roster-item:focus {
    -moz-transition: background-color 0.2s ease-in-out 0s;
    -webkit-transition: background-color 0.2s ease-in-out 0s;
    background-color: #f2f1f0;
}

.roster-status-icon {
    left: 3px;
    position: absolute;
    top: 11px;
}

.roster-item-icon {
    height: 32px;
    left: 19px;
    position: absolute;
    top: 2px;
    width: 32px;
}

.roster-icon-holder {
    display: table-cell;
    height: 32px;
    vertical-align: middle;
}

.roster-status-available {
    background-image: url(/rsrcs/img/available.png);
    background-repeat: no-repeat;
}

.roster-status-offline {
    background-image: url(/rsrcs/img/offline.png);
    background-repeat: no-repeat;
}

.roster-status-away {
    background-image: url(/rsrcs/img/away.png);
    background-repeat: no-repeat;
}

.roster-status-busy {
    background-image: url(/rsrcs/img/busy.png);
    background-repeat: no-repeat;
}

.roster-item-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 56px;
    padding-top: 4px;
    /*width: 120px;*/
    margin-bottom: 4px;
    margin-top: 2px;
    padding-top: 4px;
}

.roster-item-title {
    color: #909090;
    font-size: 90%;
    padding-left: 56px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
    display: inline-block;
    overflow: hidden;
}
