
html>body {
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color: #333;
    font-size: 11px;
}
textarea, input {
    font-family: sans-serif;
}

.contents {
    width: 980px;
    margin: 0 auto;
    background-color: transparent;
}

.h-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.h-links > li {
    float: left;
    display: block;
}
.h-links a {
    display: inline-block;
}

.v-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.v-links li {
    line-height: 20px;
}
.v-links a {
    display: block;
}

a:link, a:visited {
    color: #3366CC;
    text-decoration: none;
}
a.ajax {
    color: #3366CC;
    cursor: pointer;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}
.invisible:link, .invisible:visited {
    color: inherit;
}
.invisible:hover, .invisible:active, .invisible:focus {
    color: #3366CC;
    text-decoration: none;
}

.middle {
    vertical-align: middle;
}
.clear {
    clear: both;
    display: block;
}
.hidden {
    display: none !important;
}

.tabular-form {
    display: table;
}
.tabular-form ul {
    display: table-row;
    vertical-align: middle;
}
.tabular-form li {
    display: table-cell;
    vertical-align: middle;
}

.busy-indicator {
    min-height: 16px;
    min-width: 24px;
}
.busy-indicator.busy {
    background-image: url(/rsrcs/img/loading.gif);
    background-position: right center;
    background-repeat: no-repeat;
}

.icon {
    height: 16px;
    width: 16px;
    background-image: url(/rsrcs/img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.small-icon {
    height: 10px;
    width: 13px;
    background-image: url(/rsrcs/img/sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.admin-icon {
    height: 16px;
    width: 16px;
    background-image: url(/rsrcs/img/admin_sprite.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.input-wrap {
    background-color: white;
    border: 1px solid #C3D9FF;
    padding: 3px;
}
.input-wrap input, .input-wrap textarea {
    width: 100%;
    border: none;
    outline: 0px;
    background-color: transparent;
    padding: 0px;
    overflow: auto;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
}

#topbar {
    height: 35px;
    padding: 2px 0 0 0;
}
#avatar {
    height: 48px;
    width: 48px;
    border: 1px solid white;
    background: white;
    float: left;
    margin: 3px 0;
}
#sitelogo {
    height: 35px;
    width: 300px;
    margin-left: 10px;
    background: transparent url(/rsrcs/img/default-sitelogo.jpg) left center no-repeat;
    float: left;
}
#search-container {
    padding: 1px;
    margin: 6px 10px 0;
    border: 1px solid #CCC;
    border-radius: 2px;
    float: right;
}
#searchbox, #searchbutton {
    margin: 0;
    outline: 0px;
    border: 1px solid transparent;
    background-color: transparent;
}
#searchbutton {
    color: #999;
    border-left: 1px solid #DDD;
}
#searchbox {
    width: 350px;
}




#menubar {
    background-color: #3d85c6;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    color: white;
}
#name {
    max-width: 500px;
    overflow: hidden;
    float: left;
}
#menubar-links-wrapper {
    float: right;
}
#menubar a {
    padding: 0 10px;
    height: 25px;
    color: white;
    text-decoration: none;
}
#name:hover, #name:focus, #name:active,
#menubar-links a:hover, #menubar-links a:active, #menubar-links a:focus {
    background-color: #4d95d6;
}



/*
 * Content layout - controls single, two or three columns
 */

#left {
    float: left;
    width: 0px;
    word-wrap: break-word;
    min-height: 250px;
}
.has-left #left {width: 180px !important }

#center-right {
    margin-left: 180px;
    display: block;
}

#center {
    min-height: 250px;
    float: left;
    border-style: solid;
    border-color: #C3D9FF;
    border-width: 0 1px 1px;
    width: 980px;
    margin-bottom: 20px;
}
.has-left.has-right #center { width: 575px !important; }
.has-left #center, .has-right #center { width: 800px !important; }

#right {
    float: right;
    word-wrap: break-word;
    min-height: 250px;
    width: 0px;
}
.has-right #right { width: 220px !important }




.sidemenu {
    padding: 2em 0 0;
}

.sidemenu a {
    padding: 1px 2px 1px 8px;
    margin-left: -3px;
    line-height: 20px;
    display: block;
    color: #333;
    text-decoration: none;
    position: relative;
    border-radius: 3px 0 0 3px;
}

.sidemenu a:hover, .sidemenu a:active, .sidemenu a:focus {
    background-color: #E8EEFA;
}

.sidemenu-selected {
    background-color: #C3D9FF !important;
    font-weight:bold;
}

.sidemenu-icon {
    position: absolute;
    vertical-align: middle;
    width: 21px;
    top: 2px;
}
.sidemenu-text {
    padding-left: 21px;
}

.feed-icon {
    background-position: 0 -48px;
}
.messages-icon {
    background-position: 0 -64px;
}
.notifications-icon {
    background-position: 0 -80px;
}
.events-icon {
    background-position: 0 -96px;
}
.people-icon {
    background-position: 0 -128px;
}
.groups-icon {
    background-position: 0 -112px;
}
.org-icon {
    background-position: 0 -144px;
}
.feedback-icon {
    background-position: 0 -384px;
}


/*admin page icons*/
.add-user-icon {
    background-position: 0 -16px;
}
.block-user-icon {
    background-position: 0 -32px;
}
.update-orgInfo-icon {
    background-position: 0 -64px;
}
.unblock-user-icon {
    background-position: 0 -112px;
}


/*message icons*/
.sent-icon {
    background-position: 0 -16px;
}
.compose-icon{
    background-position: 0 -32px;
}
.inbox-icon{
    background-position: 0 -48px;
}
.trash-icon {
    background-position: 0 -80px;
}
.back-icon {
    background-position: 0 -96px;
}
.archive-icon {
    background-position: 0 -112px;
}
.star-empty-icon {
    background-position: 0 -128px;
}
.star-icon {
    background-position: 0 -144px;
}
.read-icon {
    background-position: 0 -160px;
}
.unread-icon {
    background-position: 0 -172px;
}

.sidebar-title {
    font-weight: bold;
    margin: 0 10px 0 -10px;
    padding: 5px 10px 2px 10px;
    border-bottom: 1px solid #DBDBDB;
}

#right .sidebar-chunk {
    padding: 15px 0 0 15px;
}

#right .v-links a {
    display: block;
}

#invite-people-block form {
    margin-right: 20px;
    text-align: right;
}
#invite-people-block .input-wrap {
    margin: 5px 0;
}

.user-subactions {
    margin: 5px 10px 0 -10px;
    padding: 5px 10px;
    border-top: 1px solid #DBDBDB;
}


.titlebar {
    margin: 0 0 5px 0;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
}
.subtitle {
    color: gray;
    font-size: 16px;
}

.center-header {
    background-color: #E8EEFA;
    padding: 15px;
    border-bottom: 1px solid #C3D9FF;
}

.center-contents {
    padding: 10px;
    font-size: 12px;
}




#useravatar {
    height: 128px;
    width: 128px;
    padding: 3px;
    border: 1px solid #C3D9FF;
    background-color: white;
    float: right;
}
#profile-summary {
    margin-bottom: -21px;
}
.summary-item {
    color: gray;
    padding: 0 8px 0 0;
}

.user-actions {
    /*font-size: 11px;*/
}
.user-actions > .button {
    margin-right: 6px;
    font-size:100%;
}

#profile-content {
    padding-top: 15px;
}


.tabs {
    background-color: #E8EEFA;
    border-bottom: 1px solid #C3D9FF;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: -10px -10px 0;
    padding: 0 15px;
}
.tablinks {
}
.tablinks a {
    padding: 0 10px;
    margin: 0 2px;
    height: 20px;
    color: #3D85C6;
    text-decoration: none;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px 2px 0 0;
}
.tablinks a:hover,
.tablinks a:active, .tablinks a:focus {
    border-color: #C3D9FF #C3D9FF transparent;
}
.tablinks .selected {
    margin-bottom: -1px;
    border-color: #C3D9FF #C3D9FF transparent !important;
    background-color: white;
}


#share-block {
    border-top: 1px solid #C3D9FF;
    padding-top: 5px;
}
#sharebar-links li {
    padding: 5px 5px 5px 0;
    font-weight: bold;
    color: #888;
}
#sharebar-links a {
    display: inline-block;
    padding: 5px 0px 5px 5px;
    margin: -5px 10px -5px 0;
    color: #3366CC;
    position: relative;
}
#sharebar-links a:hover,
#sharebar-links a:active, #sharebar-links a:focus {
    color: #4d95d6;
    text-decoration: none;
}
a:hover > .sharebar-text,
a:active > .sharebar-text, a:focus > .sharebar-text {
    text-decoration: underline;
}
.selected-publisher {
    color: black !important;
}
.sharebar-icon {
    position: absolute;
    vertical-align: middle;
    top: 2px;
}
.sharebar-text {
    padding-left: 20px;
}

.poll-icon {
    background-position: 0px -32px;
}
.event-icon {
    background-position: 0px -16px;
}
.question-icon {
    background-position: 0 -352px;
}
.link-icon {
    background-position: 0 -368px;
}

#sharebar .input-wrap {
    padding: 4px;
    margin-bottom: 5px;
}

#sharebar-actions {
    float: right;
}
#sharebar-submit {
    margin-left: 6px;
}

.acl-menu {
    width: 120px;
}
.acl-footer {
    border-top: 1px solid #CCC;
    text-align: right;
    clear: left;
    padding: 2px;
}
.acl-item {
    padding-left: 20px !important;
    padding-right: 5px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.acl-item .icon {
    position: absolute;
    background: transparent;
    left: 4px;
}
.acl-checked .icon {
    background-position: 0 -320px;
}
.acl-busy-item {
    line-height: 1.5em;
    padding: 0.2em 0.4em;
    background-image: url(/rsrcs/img/loading.gif);
    background-position: -5px center;
    background-repeat: no-repeat;
}

/*
 * Feed
 */

.conv-item {
    padding: 10px 0 16px;
    border-top: 1px dotted #CCC;
}
.conv-item:first-child {
    padding-top: 0px;
    border-top: none;
}

.conv-item-bottom {
    clear: both;
}

.conv-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
}

.conv-data {
    padding-left: 60px;
}

.conv-reason {
    display: block;
    color: #999;
    margin-bottom: 4px;
    word-wrap:break-word;
}

.conv-root-render {
    min-height: 50px;
    margin-bottom: 4px;
}

.conv-user-cause {
    font-weight: bold;
}

.conv-comments-more,
.conv-comment,
.conv-likes,
.conv-tags,
.comment-form-wrapper {
    background-color: #F3F3F3;
    border-bottom: 1px solid #E3E3E3;
    margin: 1px 0 0;
    padding: 4px 6px;
}

.conv-comment {
    min-height: 32px;
}

.conv-quote {
    border-left: 1px solid #DDD;
    padding: 0 8px;
    margin: 10px 0;
}

.comment-avatar {
    height: 32px;
    width: 32px;
    float: left;
}

.comment-container,
.comment-meta {
    padding-left: 38px;
}
.comment-container {
    padding-top: 2px;
    padding-bottom: 2px;
}

.conv-footer {
    color: #999;
    padding: 5px 0 0;
    font-size: 10px;
}
.comment-meta {
    color: #999;
    font-size: 9px;
}
.conv-footer abbr, .comment-meta abbr {
    border: none;
}

.comment-text {
    word-wrap:break-word;
}

#next-load-wrapper {
    padding: 10px 20px;
    border: 1px solid #3D85C6;
    background-color: #E8EEFA;
    margin-top: 25px;
}

.no-likes .likes-wrapper,
.no-tags .tags-wrapper {
    display: none;
}
.no-comments.no-likes.no-tags .comment-form-wrapper {
    display: none;
}

.button-link .small-icon {
    margin-bottom: 2px;
}
.small-like {
    background-position: -22px 0;
}
.small-comment {
    background-position: -22px -20px;
}
.button-link:hover .small-like,
.button-link:active .small-like,
.button-link:focus .small-like {
    background-position: -22px -10px;
}
.button-link:hover .small-comment,
.button-link:active .small-comment,
.button-link:focus .small-comment {
    background-position: -22px -30px;
}


/*
 * Generic item display
 */
.item-title {
    position: relative;
    color: #000;
    font-size: 15px;
    word-wrap:break-word;
}
.item-icon {
    position: absolute;
    vertical-align: middle;
}
.has-icon > .item-title-text,
.has-icon.item-contents {
    padding-left: 20px;
    padding-bottom: 8px;
}



/*
 * Edit profile
 */

.edit-profile{
    width: 100%;
    display: table;
}

.edit-profile ul {
    list-style-type: none;
    margin: 0px;
    padding-left: 15px;
}

.edit-profile li {
    padding:5px 0px;
    min-height:26px;
}

.edit-profile label {
    float:left;
    font-size:11px;
    width:15em;
    display:inline-block;
    line-height:2;
    padding:2px;
    margin-right:10px;
    text-align:right;
}

.edit-profile input[type=text], .edit-profile input[type=password]{
    width:20em;
    font-size:12px;
    background-color: white;
    border: 1px solid #C3D9FF;
    padding: 2px;
}

.edit-profile textarea {
    font-size:12px;
    width:20em;
}

.edit-profile select {
    background-color: white;
    border: 1px solid #C3D9FF;
    padding: 2px;
    font-size:12px;
}

.edit-profile select.single-row {
    width: 20.5em;
}

.edit-profile fieldset {
    border: none
}

.edit-profile legend {
    font-weight:700
}

.edu {
    background-color:#FFF;
}

.profile-save-wrapper {
    border-top: 1px solid #C3D9FF;
    padding-top: 4px;
    margin-bottom:20px;
    text-align:right;
}

/*
 * List of users - friends and people in organization
 */
.users-row {
    width: 100%;
    min-height: 50px;
    padding: 10px 0 0;
    margin: 10px 0 0;
    border-top: 1px solid #EEE;
}

.users-row-first {
    padding: 0;
    margin: 0;
    border-top: none !important;
}

.users-user {
    float: left;
    width: 48%;
}

.users-avatar {
    width: 48px;
    height: 48px;
    position: absolute;
}

.users-details {
    margin-left: 60px;
}

.user-details-title {
    color: #888;
}

.user-details-actions {
    margin-top: 6px;
}

.viewbar {
    margin: 0;
    padding: 0 0 10px;
    border-bottom: 1px solid #C3D9FF;
}

.paged-container {
    min-height: 300px;
    padding: 10px;
}

.pagingbar {
    margin: 10px 0 5px;
    padding: 10px 0;
    border-top: 1px solid #C3D9FF;
    text-align: right;
}

.pagingbar .button {
    margin-left: 5px;
}

.view-options {
    font-weight: bold;
    color: #888888;
}

.view-options .selected {
    color: black !important;
    border: 1px solid #C3D9FF;
    background-color: #E8EEFA;
    border-radius: 4px;
    padding: 2px 3px;
    margin: 0 2px;
}

.view-options a {
    padding: 2px 3px;
    margin: 0 2px;
    border: 1px solid transparent;
}

#invite-people > .input-wrap {
    padding-left: 25px;
    position: relative;
}

#invite-people > .input-wrap input {
    height:auto;
}

.invite-people-entry {
    position: absolute;
    background-position: 0 -304px;
    left: 4px;
}

/*
 * Notifications
 */
.notifications {
    margin: 20px;
}

.snippet {
    font-weight: lighter;
    color: #999;
}



/*
 * Styling for polls
 */

.poll-bar-wrapper {
    padding: 1px;
    width: 300px;
    border: 1px solid #3D85C6;
    float: left;
}
.poll-bar {
    background-color: #C3D9FF;
}

.poll-results {
    list-style: none;
    padding: 0;
    margin: 0;
}
.poll-results > li {
    clear: both;
    padding: 5px 0;
}
.poll-percent {
    float: left;
    padding: 2px 6px;
}
.poll-actions {
    clear: both;
    color: #888;
    font-size: 10.5px;
    padding: 8px 0 0;
}
.poll-options {
    margin: 5px 0;
}
#share-poll-options > .input-wrap {
    padding-left: 25px;
    position: relative;
}
.poll-option {
    position: absolute;
    background-position: 0 -304px;
    left: 4px;
}

/*
 * Styling for tags
 */
.tag {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #FFF #C3D9FF #C3D9FF;
    background-color: #E8EEFA;
    padding: 1px 6px 1px 4px;
    margin: 1px;
    border-radius: 3px;
}

.edit-tags-button, .done-tags-button {
    float: right;
    font-size: 10px !important;
    line-height: 16px;
    vertical-align: middle;
}

.tags-icon,
.edit-tags-icon {
    background-position: 0 -240px;
}

.delete-tags,
.done-tags-button,
.editing-tags .edit-tags-button,
.edit-tags-form {
    display: none;
}
.edit-tag-button,
.editing-tags .delete-tags,
.editing-tags .done-tags-button,
.editing-tags .edit-tags-form {
    display: inline-block;
}
.link-item {
    padding-top: 2px;
    padding-bottom: 1px;
}

.link-summary {
    font-size: 11px;
    font-family: inherit;
    color: grey;
    padding-left: 2px;

}
.link-title {
    padding-left: 2px;
    padding-bottom: 2px;
    font-size: 11px;
    font-weight: bold;
}

.link-url {
    font-size: smaller;
}

.link-image {
    float:left;
    padding-right: 3px;
    padding-bottom: 3px;
    max-height: 75px;
    max-width: 75px;
}


/*
 * Feedback dialog
 */
#feedback-center {
    padding: 10px;
}
#feedback-mood-wrapper {
    text-align: center;
}

.feedback-mood {
    width: 33.3%;
    float: left;
    padding: 6px 0;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}
.feedback-mood:focus, .feedback-mood:hover {
    background-color: #F0F0F0;
}
.feedback-mood-selected {
    background-color: #E8EEFA !important;
    box-shadow: inset 2px 2px 5px #888;
}
.feedback-mood-icon {
    background-image: url(/rsrcs/img/feedback.png);
    width: 48px;
    height: 48px;
    margin: 0 auto;
}

.happy-icon {
    background-position: 0 0;
}
.sad-icon {
    background-position: -48px 0;
}
.idea-icon {
    background-position: -96px 0;
}

#feedback-type {
    font-weight: bold;
    color: #888;
}
#feedback-desc-page {
    padding: 10px 0 0;
}
#feedback-desc {
    resize: none;
    height: 60px;
    width: 100%;
    border: 1px solid #C3D9FF;
    font-size: inherit;
}

/*
 * Tags listing
 */
.tag-items-count {
    height: 48px;
    width: 48px;
    line-height: 45px;
    text-shadow: 0px 0px 2px black;
    background-color: #DDD;
    border: 1px solid #CCC;
    color: white;
    text-align: center;
    font-size: 20px;
    overflow: hidden;
}

#messages-wrapper {
    padding: 5px 0px;
    border: 1px solid #3D85C6;
    background-color: #E8EEFA;
    margin: 5px 0px;
    text-align:center;
    min-height:0;
}

.messages-error {
    background-color: #FFEBE8 !important;
    border: 1px solid #DD3C10 !important;
}

.signup-menu ul{
    float: right;
    width: 80%;
    margin: 0px;
    padding: 0px;
    text-decoration: None;
    border-right: 1px solid white
}

.signup-menu-selected {
    background-color: #C3D9FF;
}
.signup menu li {
    display: inline;
    height: 25px;
    width: 40px;
}
.signup {
    width: 370px;
    height: 250px;
    float: left;
    border: 1px solid #C3D9FF;
    border-left: 0px;
    padding-top: 5px;
    margin-top: 5px;
    display: table;
    background:#E8EEFA none repeat scroll 0 0;
}

.signup menu {
    display: table-caption;
    height: 20px;
    margin: 20px;
}
.signup ul {
    padding: 2px;
    list-style: none;
    display: table-row;
}
.signup li {
    height: 25px;
    width: 350px;
    padding: 2px;
    display: list-item;
    float: left;
}
.signup label {
    marign-left: 5px;
    padding-right: 5px;
    width: 80px;
    height: 25px;
    text-align: right;
    float: left;
    font-weight: bold;
}
.signup input{
    width: 200px;
    font-size:12px;
    background-color: white;
    border: 1px solid #C3D9FF;
    padding: 2px;
}
.signup select{
    width: 205px;
    font-size:12px;
    background-color: white;
    border: 1px solid #C3D9FF;
    padding: 2px;
}
.signup h4, icons{
    padding-left: 20px;
    font-size: 14px;
    margin-bottom: 5px;
}
.icons {
    padding-left: 20px;
    font-size: 14px;
}

.signup-save-wrapper {
    text-align: right;
    float: right;
    display: table-footer-group;
    padding: 5px;
    width: 150px;
}

/*Styling for Admin page*/

#add-user-wrapper {
    background-color:white;
}

#add-user-wrapper .tabs {
    padding-top: 4px;
    margin:0;
}

#add-user-wrapper .tablinks a {
    cursor:pointer;
}

#add-user-wrapper .edit-profile {
    border-bottom:1px solid #C3D9FF;
    border-left:1px solid #C3D9FF;
    border-right:1px solid #C3D9FF;
}

#add-user-wrapper #next-load-wrapper {
    margin: 10px 5px !important;
}

#add-user-wrapper .profile-save-wrapper {
    margin:10px !important;
}

#add-user-wrapper .edit-profile ul {
    padding-top: 10px;
}
