button::-moz-focus-inner {
    border:0;
    padding:0;
}

input::-moz-focus-inner {
    border:0;
    padding:0;
}

.button-plain, .button-link {
    border: 1px solid transparent;
    padding: 2px 4px;
    margin: 0px;
    color: #3366cc;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
}
.button-link:hover, .button-link:active, .button-link:focus {
    outline: none;
    color: white;
    background-color: #3366cc;
}
.button-link.disabled {
    color: gray;
    background-color: transparent;
}
.button-plain {
    padding: 2px 0;
}

.button {
    font-family: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #888 #888 #CCC;
    cursor: pointer;
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-left: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 1px 1px white;
    box-shadow: -1px -2px rgba(0,0,0,0.1) inset;
    line-height:16px;
    font-size:12px;
    padding: 2px 16px !important;
    background: #dbdbdb url(/rsrcs/img/ui.png) no-repeat right -256px;
    background: linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
    background: -o-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
    background: -moz-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
    background: -webkit-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
    background: -ms-linear-gradient(top, #F9F9F9 0%, #E3E3E3 100%);
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #F9F9F9),
            color-stop(1, #E3E3E3)
    );
}

.button.disabled {
    color: #888;
    background: #E3E3E3 !important;
    text-shadow: none;
}

.button-content {
    display: block;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 10px;
}

.button a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 4px 6px;
}

.button.default {
    background: #dd4923 url(/rsrcs/img/ui.png) no-repeat -1px -321px;
    border-color: #3366cc;
    color: white;
    text-shadow: 1px 1px #204573;
    background: linear-gradient(top, #669BE1 0%, #3366CC 100%);
    background: -o-linear-gradient(top, #669BE1 0%, #3366CC 100%);
    background: -moz-linear-gradient(top, #669BE1 0%, #3366CC 100%);
    background: -webkit-linear-gradient(top, #669BE1 0%, #3366CC 100%);
    background: -ms-linear-gradient(top, #669BE1 0%, #3366CC 100%);
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, #669BE1),
            color-stop(1, #3366CC)
    );
}

.default > .button-content {
    padding: 0 12px;
}
.button:hover, .button:focus {
    -moz-transition: box-shadow 0.2s ease-in-out 0s;
    -webkit-transition: box-shadow 0.2s ease-in-out 0s;
    box-shadow: -1px -2px rgba(0,0,0,0.1) inset, 0 0 20px rgba(255,255,255,0.4) inset;
}
.button:active {
    -moz-transition: none;
    -webkit-transition: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.3) inset;
}

.title-button {
    float: right;
    font-size: 12px;
    font-weight: bold;
    color: #444;
    line-height: 25px;
}


/*
 * Tooltips
 */
.has-tooltip {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    margin: 0 -1px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(/rsrcs/img/tooltip-arrows.gif);
    min-height: 20px;
    min-width: 20px;
}
.tooltip.top-right {
    bottom: 100%;
    right: 0;
    padding-bottom: 4px;
    background-position: right bottom;
}
.tooltip.bottom-right {
    top: 100%;
    right: 0;
    margin-right: 4px;
    padding-top: 4px;
    background-position: right top;
}
.tooltip.top-left {
    bottom: 100%;
    left: 0;
    padding-bottom: 4px;
    background-position: left bottom;
}
.tooltip.bottom-left {
    top: 100%;
    left: 0;
    padding-top: 4px;
    background-position: left top;
}
.tooltip.right {
    top: 0;
    left: 100%;
    padding-left: 4px;
    background-position: left center;
}
.tooltip.left {
    top: 0;
    right: 100%;
    padding-right: 4px;
    background-position: right center;
}

.tooltip-content {
    display: block;
    background-color: #333;
    padding: 5px 10px;
    color: white;
    text-align: left;
}
.has-tooltip:hover .tooltip {
    display: block;
}


/*
 * Autocomplete menu items
 */
.ui-ac-icon {
  height: 32px;
  width: 32px;
  position: absolute;
}
.ui-ac-title {
  padding-left: 36px;
}
.ui-ac-meta {
  padding-left: 36px;
  font-size: 0.9em;
  opacity: 0.5;
}
.ui-ac-meta2 {  /* Used in single line auto completes */
  font-size: 0.9em;
  opacity: 0.5;
}


/*
 * Menu
 */
.ui-datepicker,
.ui-menu {
  position: absolute;
  box-shadow: 0 2px 3px rgba(200,200,200,0.8);
  border: 1px solid #DDD !important;
  outline: none !important;
  padding: 4px !important;
}

.ui-menu-separator {
  max-height: 0px;
  border-bottom: 1px solid #CCC;
  clear: left;
}

/*
 * Dialog
 */

.ui-dlg-outer {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.5);
}

.ui-dlg-inner {
  background-color: white;
  border: 1px solid #3e3d39;
  width: 400px;
  box-shadow: 0 10px 10px #CCC;
}

.ui-dlg-title {
  background: #3e3d39;
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.ui-dlg-buttonbox {
  padding: 8px 10px;
  background-color: #F9F9F9;
  border-top: 1px solid #CCC;
  text-align: right;
}
.ui-dlg-buttonbox .button {
  margin-left: 6px;
}

.ui-dlg-center {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}


/*
 * Lists in the dialogs
 */

.ui-listitem {
  position: relative;
  display: block;
  margin: 2px 0;
  padding: 2px 0;
  border-bottom: 1px dotted #DDD;
  min-height: 38px;
}
.ui-listitem:last-child {
  border-bottom: none;
}
.ui-list-icon {
  height: 32px;
  width: 32px;
  top: 4px;
  left: 6px;
  position: absolute;
}
.ui-list-title {
  padding-left: 44px;
  font-weight: bold;
  padding-top: 6px;
}
.ui-list-meta {
  padding-left: 44px;
  font-size: 90%;
  color: #999;
}
.ui-list-action {
  height: 32px;
  width: 32px;
  top: 4px;
  right: 6px;
  position: absolute;
}

.ui-listitem:hover > .ui-list-action > .conv-other-actions {
    display: block;
}

.ui-listitem.empty:not(:only-child) {
    display:none;
}

.ui-listitem.empty:only-child {
    display:block;
}


/*
 * Toolbar
 */
.toolbar {
    border-bottom: 1px solid #E0D7CF;
    background-color: #F9F9F9;
    padding: 5px;
}

/*
 * Chat Dialogs
 */

.roster-dlg-outer {
  position: fixed;
  border: none;
  bottom: 0px;
  outline: none;
  margin-right: 20px;
}

.roster-dlg-inner {
  background-color: white;
  border: 1px solid #3e3d39;
  width: 225px;
}

.roster-dlg-title {
  background: #3e3d39;
  color: white;
  padding: 5px 5px;
  font-size: 11px;
  font-weight: bold;
  text-transform: capitalize;
}

.roster-dlg-buttonbox {
  padding: 8px 10px;
  background-color: #F9F9F9;
  border-top: 1px solid #CCC;
  text-align: right;
}
.roster-dlg-buttonbox .button {
  margin-left: 6px;
}

.roster-dlg-center {
  overflow: hidden;
  padding: 5px;
}

.roster-chat-status-icon {
    float: left;
    position: absolute;
    left: 2px;
    height: 16px;
    width: 16px;
}

.roster-chat-name {
    display: inline-block;
    margin-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.roster-chat-actions {
    float: right;
}

.roster-chat-actions span {
    padding: 0 4px;
    cursor: pointer;
}

.roster-chat-logs {
    margin-bottom: 5px;
    min-height: 90px;
    max-height: 180px;
    padding-left: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.roster-chat-logs li{
    border-bottom: 1px solid #EDEDED;
    clear: both;
    margin-bottom: 2px;
    margin-top: 4px;
    list-style: none;
}

.roster-msg-box {
    color: #c50000;
    padding-left: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    visibility: hidden;
}

.roster-msg-box-show {
    visibility: visible;
}

.roster-chat-input {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9 !important;
    border-radius: 1px 1px 1px 1px;
    border-right: 1px solid #D9D9D9 !important;
    border-style: solid !important;
    border-width: 1px !important;
    font-size: 13px;
}

.roster-chat-input:focus {
    border: 1px solid #73563D;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}

.chat-avatar-wrapper {
    float: left;
    width: 40px;
}

.chat-message-wrapper {
    margin-left: 40px;
}

.chat-message-from {
    font-weight: bold;
}

.chat-message {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.chat-message-time {
    float: right;
    color: #999999;
    font-size: 10px;
}
