button::-moz-focus-inner {
    border:0;
    padding:0;
}

input::-moz-focus-inner {
    border:0;
    padding:0;
}

.ui-ph-label {
    color: graytext;
    position: absolute;
    cursor: text;
}

.button-link {
    border: 0px;
    padding: 2px 4px;
    margin: 0px;
    color: #3366CC;
    font-size: inherit;
    font-family: inherit;
    background: transparent;
}
.button-link:hover, .button-link:active, .button-link:focus {
    outline: none;
    color: white;
    background-color: #3366CC;
}

.button {
    font-family: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #888 #888 #CCC;
    background: #dbdbdb url(/rsrcs/img/ui.png) no-repeat right -256px;
    cursor: pointer;
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(center top , #F9F9F9, #E3E3E3) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F9F9F9),to(#E3E3E3));
    border-color: #CCCCCC #BBBBBB #A0A0A0;
    border-left: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #BBBBBB;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    outline: medium none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-shadow: 1px 1px white;
    box-shadow: 1px 1px 2px #CCC;
    padding-bottom:2px;
    padding-top:2px;
    line-height:16px;
    font-size:12px;
}

.button.disabled {
    color: #888;
    background: #E3E3E3 !important;
    text-shadow: none;
}

.button-content {
    display: block;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 10px;
}

.button a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 4px 6px;
}

.button.default {
    background: #3D85C6 url(/rsrcs/img/ui.png) no-repeat -1px -321px;
    background: -moz-linear-gradient(center top , #3D85C6, #3366CC) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#3D85C6),to(#3366CC));
    border-color: #3366CC #3366CC #204573;
    color: white;
    text-shadow: 1px 1px #204573;
    box-shadow: 1px 1px 2px #888;
}

.default > .button-content {
    padding: 0 12px;
}

.button:active, .button:focus, .button:hover, .file-overlay:hover~button,
.file-overlay:focus~button {
    background: -moz-linear-gradient(center top , #EEEEEE, #F9F9F9) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#EEEEEE),to(#F9F9F9));
    outline:none;
}

.button.default:active, .button.default:focus, .button.default:hover {
    border-color: #204573;
    background: #3D85C6 url(/rsrcs/img/ui.png) no-repeat right -1px -321px;
    background: -moz-linear-gradient(center top , #3366CC, #3D85C6) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear,0% 40%,0% 70%,to(#3D85C6),from(#3366CC));
}

.title-button {
    float: right;
    font-size: 12px;
    font-weight: bold;
    padding-right: 10px;
    padding-left: 10px;
    color: #444;
}


/*
 * Tooltips
 */
.has-tooltip {
    position: relative;
}
.tooltip {
    display: none;
    position: absolute;
    margin: 0 -1px;
}
.tooltip.top {
    bottom: 100%;
}
.tooltip.bottom {
    top: 100%;
}
.tooltip.right {
    right: 0;
}
.tooltip.left {
    left: 0;
}
.tooltip-content {
    display: block;
    white-space: pre;
    background-color: #333;
    padding: 5px;
    color: white;
}
.has-tooltip:hover .tooltip {
    display: block;
}


/*
 * Autocomplete menu items
 */
.ui-ac-icon {
  height: 32px;
  width: 32px;
  position: absolute;
}
.ui-ac-title {
  padding-left: 36px;
}
.ui-ac-meta {
  padding-left: 36px;
  font-size: 90%;
  color: #999;
}
.ui-state-focus .ui-ac-meta {
  color: #CCC;
}


/*
 * Menu
 */
.ui-datepicker,
.ui-menu {
  position: absolute;
  box-shadow: 0 4px 6px #AAA;
  border: 1px solid #CCC !important;
  outline: none !important;
}

.ui-menu-separator {
  max-height: 0px;
  border-bottom: 1px solid #CCC;
  clear: left;
}

/*
 * Dialog
 */

.ui-dlg-outer {
  position: absolute;
  background-color: rgb(80,80,80);
  background-color: rgba(0,0,0,0.5);
  padding: 10px;
  border-radius: 8px;
  width: 400px;
}

.ui-dlg-inner {
  background-color: white;
  border: 1px solid black;
}

.ui-dlg-title {
  border-bottom: 1px solid #C3D9FF;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.ui-dlg-buttonbox {
  padding: 8px 10px;
  background-color: #F9F9F9;
  border-top: 1px solid #CCC;
  text-align: right;
}
.ui-dlg-buttonbox .button {
  margin-left: 6px;
}

.ui-dlg-center {
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}


/*
 * Lists in the dialogs
 */

.ui-listitem {
  position: relative;
  display: block;
  margin: 2px 0;
  padding: 2px 0;
  border-bottom: 1px dotted #DDD;
  min-height: 38px;
}
.ui-listitem:last-child {
  border-bottom: none;
}
.ui-list-icon {
  height: 32px;
  width: 32px;
  top: 4px;
  left: 6px;
  position: absolute;
}
.ui-list-title {
  padding-left: 44px;
  font-weight: bold;
  padding-top: 6px;
}
.ui-list-meta {
  padding-left: 44px;
  font-size: 90%;
  color: #999;
}

/*
 * Toolbar
 */
.toolbar {
    border-bottom: 1px solid #C3D9FF;
    background-color: #F9F9F9;
    padding: 5px;
}
.toolbar .button {
    box-shadow: none;
}
