.action-link {
    padding: 3px;
    font-size: 11px;
}

.conversation-layout-container {
    display:table;
}

.message-row {
    display:table-row;
    height:4em;
}

.message-row-cell {
    display:table-cell;
    vertical-align:middle;
}

.row-read {
    background:none repeat scroll 0 0 #EDF0F9;
    color:#000000;
}

.row-unread {
}

.message-link {
    /*display:block;*/
    text-decoration:none !important;
}

.toolbar {
    border-bottom: 1px solid #C3D9FF;
    margin-bottom: 10px;
    padding: 5px 0;
}

.time-label {
    font-size: 11px;
}

.message-row-select {
    vertical-align:middle;
}

.message-row-star {
    vertical-align:top;
    padding:0 2px;
    cursor:pointer;
}

.message-headline {
    padding:4px 10px
}

.message-headline-subject {
    display:inline;
}

.message-headline-star {
    display:inline-block;
    float:right;
    cursor:pointer;
}

.message-headers {
    background-color: #E8EEFA;
    margin-bottom: 4px;
    padding: 4px 0;
}

.message-headers-people {
    display:inline-block;
}

.message-headers-people-list {
    display:inline-block;
    vertical-align:top;
    width:600px;
}

.message-headers-time {
    float:right;
    display:inline-block;
}

.message-actions {
    display:block;
    padding:4px 10px;
    background-color:#F3F3F3
}

.message-message {
    margin:0;
    min-height:80px;
}

.message-composer {
}

.message-composer-label {
    display:table-cell;
    vertical-align:top;
    font-weight:bold;
    padding:4px;
}

.message-composer-field {
    padding:10px;
    margin-top:10px;
}

.message-composer-row {
    display:table-row;
}

.message-composer-field-recipient {
    width:99%;
    font-size:11px;
}

.message-composer-field-subject {
    width:99%;
    font-size:11px;
}

.message-composer-field-body-wrapper {
    padding-left: 2px;
}

.message-composer-field-body {
    height:100px !important;
    font-size:11px;
}

.message-composer-field-body-quick {
    width:99%;
    height:80px;
    font-size:11px;
    outline:none;
}

.message-composer-quick-actions {
    display:block;
    padding:4px 10px;
    background-color:transparent;
    text-align:right;
}

.thread-selector-wrapper {
    display:inline-block;
    margin-left:2px;
}

.thread-selector {
    display:table-cell;
    vertical-align:top;
}
