
#msg-toolbar {
  position: relative;
  text-align: right;
 }

#thread-selector {
  position: absolute;
  left: 0px;
  top: 7px;
}

#threads-wrapper {
  padding: 0;
  min-height: 320px;
}

.peoplemenu {
    margin-top: 4px;
}

.peoplemenu li {
    margin-bottom:1px;
}

.message-row {
   /*display:table-row;*/
   height:4em;
   border-top:1px dotted #CCCCCC;
}

.message-row:first-child {
    border-top:none;
}

.conversation-row-headers {
    display:inline-block;
    padding:2px;
    width:635px;
}

.conversation-row-actions {
    display:inline-block;
    padding:2px;
}

.conversation-row-cell {
   display:table-cell;
   vertical-align:middle;
}

.conversation-row-people {
    padding:4px 0 0 4px;
    width:150px;
}

.conversation-row-sender {

}

.conversation-row-info {
    height:100%;width:100%;cursor:pointer;
}

.conversation-row-time {
    width:450px;
    font-size:11px;
    color:#777;
    padding-left:4px;
}

.conversation-row-subject-wrapper {
    overflow: hidden;white-space: nowrap;width: 667px;color:#777;
}

.conversation-row-snippet {
    color:#000;
}

.conversation-row-count {
    position:absolute;right:1px;bottom:-4px;cursor:default;color:#000;
}

.row-read {
   background:none repeat scroll 0 0 #EDF0F9;
   color:#000000;
}

.row-unread {
}

.conversation-row-link {
   text-decoration:none !important;
   display:block;
   padding:2px;
   position:relative;
}

.conversation-row-link:active, .conversation-row-link:focus {
    outline: medium none;
}

.toolbar {
   border-bottom: 1px solid #C3D9FF;
   padding: 5px;
}

.time-label {
   font-size: 11px;
}

.conversation-row-select {
   vertical-align:middle;
}

.back-link {
  position: absolute;
  left: 2px;
  top: 10px;
}

.conversation-headline {
   padding:4px 10px
}

.conversation-headline-subject {
   display:inline;
}

.conversation-message-headers {
   /*background-color: #E8EEFA;*/
   margin-bottom: 4px;
   padding: 4px 0;
   position:relative;
}

.conversation-message-headers-time {
   float:right;
   display:inline-block;
   /*background-color: #E8EEFA;*/
   position:absolute;
   right:0;
   top:4px;
   z-index:1000;
   padding-left:3px;
}

.conversation-message-headers-sender {
   display:inline-block;
   font-weight:bold;
}

.conversation-message-headers-snippet-show {
    visibility:visible !important;
}

.conversation-message-headers-snippet {
   display:inline-block;
   width:380px;
   overflow:hidden;
   white-space:nowrap;
   margin-left:8px;
   color:#777777;
   font-size:11px;
   visibility:hidden;
}

.conversation-message-headers-snippet:after {
    content: "...";
}

.conversation-message-message {
   margin:0;
   /*min-height:80px;*/
}

.thread-selector-wrapper {
   display:inline-block;
   margin-left:2px;
}

.thread-selector {
   display:table-cell;
   vertical-align:top;
}

.messaging-icon {
    display:inline-block;
    width:19px;
    height:19px;
}

.messaging-archive-icon {
    background-position:0px -110px;
}

.messaging-unread-icon {
    background-position:0px -175px;
}

.messaging-read-icon {
    background-position:0px -160px;
}

.messaging-delete-icon {
    background-position:0px -78px;
}

.nopad {
    padding: 0;
}

.conversation-composer-field {
    padding:5px;
    min-height:20px;
}

.conversation-composer-field-body {
    min-height:80px;
}

.conversation-composer-recipients {
    float:left;
}

.conversation-composer-recipient-wrapper {
}

.conversation-composer-recipient-label {
    padding:0 4px;
}

.conversation-composer-recipient-remove {
    padding:0 2px;
    font-size:9px;
}

.conversation-composer-field-recipient {
    width:auto !important;
    height:auto !important;
    margin-top:2px;
}

.conversation-composer-field-subject {
    height: auto !important;
}

.conversation-composer-actions {
    text-align:right;padding:4px 0;
}

.conversation-message-container {
    padding-top:0px;min-height:32px;padding-bottom:0px;
}

.conversation-message-wrapper {
    /*padding:2px; margin:2px; border:1px solid #E2e2e2;*/
}

.conversation-reply-wrapper {
    margin-left:60px;
}

.conversation-reply {
    min-height:60px;
}

.conversation-reply-actions {
    text-align:right;padding:4px 0;
}

.conversation-people-add-wrapper {
    margin-top:4px;font-size:11px;width:185px;
}

.conversation-people-avatar {
    display:table-cell
}

.conversation-people-profile {
    display:table-cell;
    vertical-align:middle;
    padding-left:15px;
    width:160px;
}

.conversation-people-remove {
    display:table-cell;
    vertical-align:middle;
    font-weight:bold;
    cursor:pointer;
    font-size:15px;
    vertical-align:middle;
}

.conversation-people-no-remove {
    display:table-cell;
    vertical-align:middle;
    font-weight:bold;
}
