
#msg-toolbar {
  position: relative;
  text-align: right;
 }

#thread-selector {
  position: absolute;
  left: 0px;
  top: 7px;
}

#threads-wrapper {
  padding: 0;
  min-height: 320px;
  border-left: 1px solid #C3D9FF;
  border-right: 1px solid #C3D9FF;
}

.peoplemenu {
    margin-top: 4px;
}

.peoplemenu li {
    margin-bottom:1px;
}

.message-row {
   /*display:table-row;*/
   height:4em;
   border-top:1px dotted #CCCCCC;
}

.message-row:first-child {
    border-top:none;
}

.message-row-cell {
   display:table-cell;
   vertical-align:middle;
}

.row-read {
   background:none repeat scroll 0 0 #EDF0F9;
   color:#000000;
}

.row-unread {
}

.message-link {
   text-decoration:none !important;
}

.toolbar {
   border-bottom: 1px solid #C3D9FF;
   padding: 5px;
}

.time-label {
   font-size: 11px;
}

.message-row-select {
   vertical-align:middle;
}

.back-link {
  position: absolute;
  left: 2px;
  top: 10px;
}

.conversation-headline {
   padding:4px 10px
}

.conversation-headline-subject {
   display:inline;
}

.message-headers {
   background-color: #E8EEFA;
   margin-bottom: 4px;
   padding: 4px 0;
   cursor:pointer;
   position:relative;
}

.message-headers-time {
   float:right;
   display:inline-block;
   background-color: #E8EEFA;
   position:absolute;
   right:0;
   top:4px;
   z-index:1000;
   padding-left:3px;
}

.message-headers-sender {
   display:inline-block;
   font-weight:bold;
   float:left;
}

.message-headers-snippet-show {
    visibility:visible !important;
}

.message-headers-snippet {
   display:inline-block;
   width:380px;
   overflow:hidden;
   white-space:nowrap;
   margin-left:8px;
   color:#777777;
   font-size:11px;
   visibility:hidden;
}

.message-headers-snippet:after {
    content: "...";
}

.message-message {
   margin:0;
   min-height:80px;
}

.thread-selector-wrapper {
   display:inline-block;
   margin-left:2px;
}

.thread-selector {
   display:table-cell;
   vertical-align:top;
}

.messaging-icon {
    display:inline-block;
    width:19px;
    height:19px;
}

.messaging-archive-icon {
    background-position:0px -110px;
}

.messaging-unread-icon {
    background-position:0px -175px;
}

.messaging-read-icon {
    background-position:0px -160px;
}

.messaging-delete-icon {
    background-position:0px -78px;
}

.nopad {
    padding: 0;
}

.message-composer-field {
    padding:5px;
}
