
html>body {
    overflow-y: scroll;
}
body {
    margin: 0;
    padding: 0;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color: #333;
    font-size: 11px;
}

.contents {
    width: 980px;
    margin: 0 auto;
    background-color: transparent;
}

.h-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.h-links > li {
    float: left;
    display: block;
}
.h-links a {
    display: inline-block;
}

.v-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}
.v-links li {
    line-height: 20px;
}
.v-links a {
    display: block;
}

a:link, a:visited {
    color: #3366CC;
    text-decoration: none;
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}

.middle {
    vertical-align: middle;
}
.clear {
    clear: both;
    display: block;
}
.hidden {
    display: none !important;
}

a.ajax {
    color: #3366CC;
    cursor: pointer;
}

.tabular-form {
    display: table;
}
.tabular-form ul {
    display: table-row;
    vertical-align: middle;
}
.tabular-form li {
    display: table-cell;
    vertical-align: middle;
}


.busy-indicator {
    min-height: 16px;
    min-width: 24px;
}
.busy-indicator.busy {
    background-image: url(/public/images/loading.gif);
    background-position: right center;
    background-repeat: no-repeat;
}



#topbar {
    height: 35px;
    padding: 2px 0 0 0;
}
#avatar {
    height: 48px;
    width: 48px;
    background: transparent url(/public/images/default-avatar-tb.jpg);
    border: 1px solid white;
    float: left;
    margin: 3px 0;
}
#sitelogo {
    height: 35px;
    width: 300px;
    margin-left: 10px;
    background: transparent url(/public/images/default-sitelogo.jpg) left center no-repeat;
    float: left;
}
#search-container {
    padding: 1px;
    margin: 6px 10px 0;
    border: 1px solid #CCC;
    border-radius: 2px;
    float: right;
}
#searchbox, #searchbutton {
    margin: 0;
    color: #999;
    outline: 0px;
    border: 1px solid transparent;
    background-color: transparent;
}
#searchbutton {
    border-left: 1px solid #DDD;
}
#searchbox {
    width: 350px;
}




#menubar {
    background-color: #3d85c6;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    color: white;
}
#name {
    max-width: 500px;
    overflow: hidden;
    float: left;
}
#menubar-links-wrapper {
    float: right;
}
#menubar a {
    padding: 0 10px;
    height: 25px;
    color: white;
    text-decoration: none;
}
#name:hover, #name:focus, #name:active,
#menubar-links a:hover, #menubar-links a:active, #menubar-links a:focus {
    background-color: #4d95d6;
}



/*
 * Content layout - controls single, two or three columns
 */

#left {
    float: left;
    width: 0px;
    word-wrap: break-word;
    min-height: 250px;
}
.has-left #left {width: 180px !important }

#center-right {
    margin-left: 180px;
    display: block;
}

#center {
    min-height: 250px;
    float: left;
    border-style: solid;
    border-color: #C3D9FF;
    border-width: 0 1px;
    width: 980px;
}
.has-left.has-right #center { width: 575px !important; }
.has-left #center, .has-right #center { width: 800px !important; }

#right {
    float: right;
    word-wrap: break-word;
    min-height: 250px;
    width: 0px;
}
.has-right #right { width: 220px !important }




.sidemenu {
    padding: 2em 0 0;
}

.sidemenu a {
    padding: 0 2px 0 21px;
    line-height: 20px;
    display: block;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.sidemenu a:hover, .sidemenu a:active, .sidemenu a:focus {
    background-color: #F0F0FF;
    border-bottom: 1px solid #C4D7ED;
}

.sidemenu-selected {
    background-color: #C4D7ED;
}

.sidebar-title {
    font-weight: bold;
    margin: 0 10px 0 -10px;
    padding: 5px 10px 2px 10px;
    border-bottom: 1px solid #DBDBDB;
}

#right .sidebar-chunk {
    padding: 15px 0 0 15px;
}

#right .v-links a {
    display: block;
}
.user-subactions {
    margin: 5px 10px 0 -10px;
    padding: 5px 10px;
    border-top: 1px solid #DBDBDB;
}


.titlebar {
    margin: 0 0 5px 0;
}
.title {
    font-size: 20px;
    font-weight: bold;
}
.subtitle {
    color: gray;
    font-size: 16px;
}

.center-header {
    background-color: #E8EEFA;
    padding: 15px;
    border-bottom: 1px solid #C3D9FF;
}

.center-contents {
    padding: 10px;
    font-size: 12px;
}




#useravatar {
    height: 128px;
    width: 128px;
    padding: 3px;
    border: 1px solid #C3D9FF;
    background-color: white;
    float: right;
}

#userprofile .title {
    margin-right: 20px;
}

#profile-summary {
    margin-bottom: -21px;
}
.summary-item {
    color: gray;
    padding: 0 8px 0 0;
}

.user-actions {
    font-size: 11px;
}
.user-actions > .button {
    margin-right: 6px;
}

#profile-content {
    padding-top: 15px;
}
#profile-tabs {
    background-color: #E8EEFA;
    border-bottom: 1px solid #C3D9FF;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    margin: -10px -10px 0;
    padding: 0 15px;
}
#profile-tablinks a {
    padding: 0 10px;
    margin: 0 2px;
    height: 20px;
    color: #3D85C6;
    text-decoration: none;
    border-width: 1px 1px 0;
    border-style: solid;
    border-color: transparent;
    border-radius: 2px 2px 0 0;
}
#profile-tablinks a:hover,
#profile-tablinks a:active, #profile-tablinks a:focus {
    border-color: #C3D9FF #C3D9FF transparent;
}
#profile-tablinks .selected {
    margin-bottom: -1px;
    border-color: #C3D9FF #C3D9FF transparent !important;
    background-color: white;
}



#sharebar-links li {
    padding: 5px 5px 5px 0;
    font-weight: bold;
    color: #888;
}
#sharebar-links a {
    display: inline-block;
    padding: 5px;
    margin: -5px -5px -5px 0;
    color: #3366CC;
}
#sharebar-links a:hover,
#sharebar-links a:active, #sharebar-links a:focus {
    color: #4d95d6;
}
#sharebar-links .selected {
    color: black !important;
}

#sharebar .input-wrap {
    background-color: white;
    border: 1px solid #C3D9FF;
    padding: 4px;
    margin: 0 0 5px 0;
}

#sharebar input {
    width: 100%;
    border: none;
    outline: 0px;
    background-color: transparent;
}

#sharebar-actions {
    float: right;
}
#sharebar-submit {
    margin-left: 6px;
    width: 55px;
}
#sharebar-acl {
    width: 100px;
}
#sharebar-acl > .popup {
    min-width: 90px;
    padding: 5px;
}



/*
 * Feed
 */

.conv-item {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #EEE;
}

.conv-item-bottom {
    clear: both;
}

.conv-avatar {
    width: 48px;
    height: 48px;
    background-color: #CCC;
    position: absolute;
}

.conv-data {
    padding-left: 60px;
}

.conv-reason {
    display: block;
    color: #999;
    margin-bottom: 4px;
}

.conv-root-render {
    min-height: 50px;
    margin-bottom: 4px;
}

.conv-user-cause, .comment-author {
    font-weight: bold;
}

.conv-comments-more,
.conv-comment,
.conv-likes,
.conv-comment-form {
    background-color: #EEE;
    border-bottom: 1px solid #E9E9E9;
    margin: 2px 0 0;
    padding: 4px 6px;
    margin-right: 60px;
}

.conv-comment {
    min-height: 32px;
}

.conv-quote {
    border-left: 3px solid #EEE;
    padding-left: 5px;
}

.comment-avatar {
    height: 32px;
    width: 32px;
    float: left;
    background-color: #CCC;
}

.comment-container,
.comment-meta {
    padding-left: 38px;
}
.comment-container {
    padding-top: 2px;
    padding-bottom: 2px;
}

.conv-footer {
    color: #888;
    padding: 5px 0;
    font-size: 10.5px;
}
.comment-meta {
    color: #888;
    font-size: 10.5px;
}
.conv-footer abbr, .comment-meta abbr {
    border: none;
}



/*
 * Edit profile
 */

.edit-profile{
    padding: 10px;
    width: 500px;
    display: table;
}

.edit-profile ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
.edit-profile li {
    width:85px;
    height:25px;
    display: inline-block;
    color: black;
    text-align: right;
    font-weight: 400;

}
.edit-profile select {
    background-color:#FFF;

}

.edu {
    background-color:#FFF;
}


/*
 * List of users - friends and people in organization
 */
#users-wrapper {
    padding: 20px;
}

.users-row {
    float: left;
    width: 100%;
    min-height: 50px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #EEE;
}

.users-user {
    float: left;
    width: 48%;
}

.users-avatar {
    width: 48px;
    height: 48px;
    background-color: #CCCCCC;
    position: absolute;
}

.users-details {
    margin-left: 60px;
}

.user-details-title {
    color: #888;
}

.user-details-actions {
    margin-top: 6px;
}


/*
 * Notifications
 */
.notifications {
    margin: 20px;
}

.snippet {
    font-weight: lighter;
    color: #999;
}



/* Styling for polls */
.poll-bar-wrapper {
    padding: 1px;
    width: 300px;
    border: 1px solid #CCC;
    float: left;
}
.poll-bar {
    background-color: #888A85;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        right bottom,
        color-stop(0, #BABDB6),
        color-stop(1, #888A85)
    );
    background-image: -moz-linear-gradient(
        left center,
        #BABDB6 0%,
        #888A85 100%
    );
}

.poll-results {
    list-style: none;
    padding: 0;
    margin: 0;
}
.poll-results > li {
    clear: both;
    padding: 5px 0;
}
.poll-share {
    float: left;
    padding: 2px 6px;
}
.poll-actions {
    clear: both;
    padding: 8px 0 0;
}
.poll-options {
    margin: 5px 0;
}
