
.ui-ph-label {
    color: graytext;
    position: absolute;
    cursor: text;
}

.button-link {
    border: 0px;
    padding: 0px;
    margin: 0px;
    color: #3366CC;
    font-size: inherit;
    font-family: inherit;
    vertical-align: middle;
    background: transparent;
}
.button-link:hover, .button-link:active, .button-link:focus {
    outline: none;
    color: white;
    background-color: #3366CC;
}

.button {
    font-family: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: #CCC #888 #888 #CCC;
    background: #dbdbdb url(/public/images/ui.png) no-repeat right -256px;
    cursor: pointer;
}
button.button {
    height: 22px;
}
.button-content {
    display: block;
    height: 1.5em;
    line-height: 1.5em;
    padding: 0 10px;
}
.button a {
    color: inherit;
    text-decoration: none;
    display: block;
}
.button.default {
    background-position: -1px -321px;
    background-color: #3D85C6;
    border-color: #204573;
    color: white;
    font-weight: bold;
}
.default > .button-content {
    padding: 0 12px;
}
.button:active, .button:focus, .button:hover {
    border-color: #204573;
}
.button:active {
    background-image: none;
}


/*
 * Tooltips
 */
.has-tooltip {
    position: relative;
}
.tooltip {
    display: none;
    position: absolute;
    margin: 0 -1px;
}
.tooltip.top {
    bottom: 100%;
}
.tooltip.bottom {
    top: 100%;
}
.tooltip.right {
    right: 0;
}
.tooltip.left {
    left: 0;
}
.tooltip-content {
    display: block;
    white-space: pre;
    background-color: #333;
    padding: 5px;
    color: white;
}
.has-tooltip:hover .tooltip {
    display: block;
}


/*
 * Autocomplete menu items
 */
.ui-ac-icon {
  height: 32px;
  width: 32px;
  position: absolute;
}
.ui-ac-title {
  padding-left: 36px;
}
.ui-ac-meta {
  padding-left: 36px;
  font-size: 90%;
  color: #999;
}
.ui-state-focus .ui-ac-meta {
  color: #CCC;
}


/*
 * Menu
 */
.ui-menu {
  position: absolute;
  box-shadow: 0 4px 6px #AAA;
  border: 1px solid #CCC !important;
  outline: none !important;
}

.ui-menu-separator {
  max-height: 0px;
  border-bottom: 1px solid #CCC;
  clear: left;
}
